<h2 class="comment-title mb-30">{{ 'blogs.comments.title' | t }}</h2>
<!--=======  comment form  =======-->

<div class="phoone-form comment-gorm">
  {% form 'new_comment', article %}
  {{ form.errors | default_errors }}
  <div class="row">
    <div class="col-lg-6 mb-20">
      <input type="text" class="{% if form.errors contains 'author' %}error{% endif %}" name="comment[author]" id="commentAuthor" value="{{ form.author }}" placeholder="{{ 'blogs.comments.name' | t }}">
    </div>
    <div class="col-lg-6 mb-20">
      <input type="text" class="{% if form.errors contains 'email' %}error{% endif %}" name="comment[email]" id="commentEmail" value="{{ form.email }}" placeholder="{{ 'blogs.comments.email' | t }}">
    </div>
    <div class="col-lg-12 mb-20">
      <textarea class="custom-textarea" name="comment[body]" id="commentBody"  placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
    </div>
    <div class="col-lg-12 text-left">
      <button type="submit" class="phoone-button phoone-button--medium">{{ 'blogs.comments.post' | t }}</button>
      {% if blog.moderated? %}
      <p class="comment_moderate_text">{{ 'blogs.comments.moderated' | t }}</p>
      {% endif %}
    </div>
  </div>
  {% endform %}
</div>



