  <h2 class="comment-title mb-30">{{ 'blogs.comments.with_count' | t: count: article.comments_count  }}</h2>


{% for comment in article.comments %}
<div class="single-comment">
  <div class="single-comment__image">
    {% if section.settings.commentator_image %}
    <img src="{{ section.settings.commentator_image | img_url: '100x100', crop: 'center' }}" alt="{{ section.settings.commentator_image.alt }}">
    {% else %}
    <img src="https://www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 | append: '?s=200' }}" />
    {% endif %}
  </div>
  <div class="single-comment__content">

    <!--=======  username and date  =======-->

    <p class="username">{{ comment.author }} <span class="date">/ {{ comment.created_at | date: "%b %d, %Y at %H:%M" }}</span></p> 

    <!--=======  End of username and date  =======-->

    <!--=======  message  =======-->

    <p class="message">
     {{ comment.content }}
    </p>

    <!--=======  End of message  =======-->
  </div>
</div>
{% endfor %}

