{% form 'contact' %}
<div class="row">
  <div class="col-12">
    {% if form.posted_successfully? %}
    <p class="note form-success">{{ 'contact.form.post_success' | t }}</p>
    {% endif %}
    {{ form.errors | default_errors }}
  </div>
  <div class="col-md-6 mb-40">
    <input type="text" required placeholder="{{ section.settings.name_placeholder }}" class="{% if form.errors contains 'name' %}error{% endif %}" name="contact[name]" id="ContactFormName" value="{% if form.name %}{{ form.name }}{% elsif customer.name %}{{ customer.name }}{% endif %}">
  </div>
  <div class="col-md-6 mb-40">
    <input type="email" required placeholder="{{ section.settings.email_placeholder }}" class="{% if form.errors contains 'email' %}error{% endif %}" name="contact[email]" id="ContactFormEmail" value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}">
  </div>
  <div class="col-lg-12 mb-40">
    <input type="text" id="ContactFormSubject" name="contact[subject]" placeholder="{{ section.settings.subject_placeholder }}" value="{{ form.subject }}">
  </div>
  <div class="col-lg-12 mb-40">
    <textarea placeholder="{{ section.settings.message_placeholder }}" class="custom-textarea" name="contact[body]" id="ContactFormMessage">{% if form.body %}{{ form.body }}{% endif %}</textarea>
  </div>
  <div class="col-lg-12 text-left">
    <button type="submit" value="submit" class="phoone-button phoone-button--medium">{{ section.settings.form_button_name }}</button>
  </div>
</div>
{% endform %}