{%- capture html -%}
<header data-section="HeaderSection" id="section-{{ section.id }}" class="header {% unless section.settings.header_top_enable == true  %} header-without-topbar {% endunless %} {% if section.settings.header_transparent == true %} header-transparent-background {% endif %} {% if section.settings.header_sticky_enable and section.settings.header_transparent == true %}header-sticky {% endif %} header_2">
  
  {% if section.settings.header_top_enable == true  %}
  <div class="header-top pt-10 pb-10 xxx">
    <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
      <div class="header-top-container">
        <div class="header-top-left {% if section.settings.gtranslate_enable -%} lang_translate {%- endif -%}">
          
          {% if settings.currency_enable %}
          <div class="currency-change change-dropdown">
            {% render 'currency-picker' %}
          </div>
          <span class="header-separator {% unless section.settings.gtranslate_enable -%} d-none d-sm-block {%- endunless -%}">|</span>
          {% endif %}
          
          {%- if section.settings.gtranslate_enable -%}
          {%- render 'gtranslate' -%}
          <span class="header-separator d-none d-sm-block">|</span>
          {%- endif -%}
          
          <div class="order-online-text d-none d-sm-block">
            {{ section.settings.welcome_text_msg }} <a href="{{ section.settings.phone_number_link }}"><span class="number"> {{ section.settings.welcome_text_phone_number}}</span></a>
          </div>
        </div>
        
        <div class="header-top-right  {% unless section.settings.social_media_enable == true %} without_social {% endunless %}">

          {% if section.settings.dropdown_menu_enable %}
          <div class="top-shop-dropdown change-dropdown">
            <a href="javascript:void(0)">{{ section.settings.topbar_right_info_title }}</a>
            <ul>
              {% assign header_right_menu = section.settings.header_right_menu %}
              {% if header_right_menu != blank %}
              {% for link in linklists[header_right_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
              {% else %}
              <li><a href="{{ routes.cart_url }}">{{ section.settings.shopping_cart_title }}</a></li>
              <li><a href="/checkout">{{ section.settings.checkout_title }}</a></li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
          
          {% if section.settings.social_media_enable == true %}
            <span class="header-separator">|</span>
            <div class="top-social-icons">
              {% render 'social-midea' %}
            </div>
          {% endif %}
          
        </div>	
      </div>
    </div>
  </div>
  {% endif %}
  
<div class="header-bottom {% if section.settings.header_sticky_enable and section.settings.header_transparent != true %}header-sticky {% endif %} {% unless section.settings.menu_enable %} without_menu {% endunless %} logo_middle_of_menu  pt-md-20 pb-md-20 pt-sm-20 pb-sm-20">
    <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
      <!--=======  header bottom container  =======-->

      <div class="header-bottom-container">
        <div class="logo-with-offcanvas d-flex">
          
          {%- if section.settings.about_info_enable -%}
          <div class="offcanvas-about-icon d-none d-lg-block">
            <a href="javascript:void(0)" id="offcanvas-about-icon">
              <i class="ion-navicon"></i>
            </a>
          </div>
          {%- endif -%}
          
          <div class="logo d-block d-lg-none">
            {% render 'header-logo' %}
          </div>
        </div>


        <!--=======  header bottom navigation  =======-->
		{%- if section.settings.menu_enable -%}
        <div class="header-bottom-navigation">
          <div class="site-main-nav d-none d-lg-block">
            <nav class="site-nav center-menu">
                {%- render 'main-menu-logo' -%}
            </nav>
          </div>
          
          
        </div>
        {%- endif -%}


        <!--=======  End of header bottom navigation  =======-->
        {% if section.settings.header_right_info %}
        <div class="header-right-container">
          <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
            <!--=======  single-icon  =======-->

            {% if section.settings.search_bar_enable %}
            <div class="single-icon search">
              <a href="javascript:void(0)" id="search-icon">
                 <i class="ionx">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                </i>
              </a>
            </div>
            {% endif %}
            
            {% if section.settings.account_icon %}
            <div class="single-icon user-login">
              {% if customer and shop.customer_accounts_enabled %}
              <a href="{{ routes.account_url }}">
                 <i class="ionx">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                 </i>
              </a>
              {% else %}
               <a href="{{ routes.account_login_url }}">
                 <i class="ionx">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                 </i>
              </a>
             {% endif %}
            </div>
            {% endif %}

            <!--=======  End of single-icon  =======-->
            <!--=======  single-icon  =======-->

            {% if section.settings.wishlist_enable %}
            <div class="single-icon wishlist">
              <a href="/pages/wishlist" id="offcanvas-wishlist-icon">
                   <i class="ionx">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    </i>
              </a>
            </div>
            {% endif %}

            <!--=======  End of single-icon  =======-->
            <!--=======  single-icon  =======-->
            
            {% if section.settings.mini_cart_enable %}
            <div class="single-icon cart">
              {%- assign item_count = cart.item_count -%}
              <a href="javascript:void(0)" id="offcanvas-cart-icon">
                <i class="iconx ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                      </i>
                <span class="count bigcounter">{{ item_count }}</span>
              </a>
            </div>
            {% endif %}
            <!--=======  End of single-icon  =======-->
          </div>
          <!--=======  End of header right icons  =======-->

        </div>
        {% endif %}

      </div>

      
       <!-- Mobile Navigation Start Here -->

      <div class="site-mobile-navigation d-block d-lg-none">
        {%- if section.settings.mobile_menu == "default" -%}
        <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
          <!--Site Mobile Menu Toggle Start-->
          <button class="dl-trigger hamburger hamburger--spin">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button><!--Site Mobile Menu Toggle End-->
          {% render 'mobile_nav_3' %}
        </div>
        {%- elsif section.settings.mobile_menu == "offcanvas" -%}
        <div class="mobile-navigation-icon" id="mobile-menu-trigger">
          <i></i>
        </div>
        {%- render 'offcanvas_menu_3' -%}
        {%- endif -%}
      </div>

      <!-- Mobile Navigation End Here -->
      

    </div>
  </div>

  <!--=======  End of header bottom  =======-->
</header>
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}