<ul>
  {%- for link in section.settings.menu.links -%}
  {%- assign childlink_handle = link.title | handle -%}
  {%- if linklists[childlink_handle].links.size > 0 -%}
  <li class="menu-item-has-children {% if link.active %} active{%- endif -%}"><a href="{{ link.url }}">{{ link.title }}</a>
    <ul class="sub-menu">
      {%- assign menuhandle = link.title | strip -%}
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'megamenu' -%}
      {%- if block.settings.mega_title == menuhandle -%}
      {%- for childlink in linklists[childlink_handle].links -%}
      {%- assign grand_childlink_handle = childlink.title | handle -%}
      {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
      <li class="mega_dropdown">
        <a class="mega-column-title" href="{{ childlink.url }}">{{ childlink.title }}</a>
        <ul class="mega-sub-menu">
          {%- for grand_childlink_handle in linklists[grand_childlink_handle].links -%}
          {%- assign sub_grand_childlink_handle = grand_childlink_handle.title | handle -%}
          {%- assign level3 = grand_childlink_handle.title | strip -%}
          {%- assign level3_menu = block.settings.level3_menu -%}
          {%- assign level3_menu_isset = block.settings.mege_level_2 -%}
          
          {%- assign level3_menu_2 = block.settings.level3_menu_2 -%}
          {%- assign level3_menu_isset_2 = block.settings.mege_level_2_set2 -%}
          
          {%- assign level3_menu_3 = block.settings.level3_menu_3 -%}
          {%- assign level3_menu_isset_3 = block.settings.mege_level_2_set3 -%}
          
          {%- if linklists[level3_menu] != empty and level3_menu_isset == level3 -%}
          <li class="single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="mega-sub-level2">
              {%- for link_leve2 in linklists[level3_menu].links -%}
              <li><a href="{{ link_leve2.url }}">{{ link_leve2.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- elsif linklists[level3_menu_2] != empty and level3_menu_isset_2 == level3 -%}
          <li class="single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="mega-sub-level2">
              {%- for link_leve2 in linklists[level3_menu_2].links -%}
              <li><a href="{{ link_leve2.url }}">{{ link_leve2.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- elsif linklists[level3_menu_3] != empty and level3_menu_isset_3 == level3 -%}
          <li class="single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="mega-sub-level2">
              {%- for link_leve2 in linklists[level3_menu_3].links -%}
              <li><a href="{{ link_leve2.url }}">{{ link_leve2.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- else -%}
          <li><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a></li>
          {%- endif -%}
          {%- endfor -%}
        </ul> 
      </li> 
      {%- else -%}
      <li class="mega_dropdown" ><a class="mega-column-title" href="{{ childlink.url }}">{{ childlink.title }}</a></li>
      {%- endif -%}
      {%- endfor -%}
      {%- if block.settings.megamenu_gallery -%}
      <li class="mega_dropdown mega_gallery">
        {%- if block.settings.megamenu_gallery_type == "banner" -%}
        <div class="mega_menu_cat_banner" id="block-{{ block.id }}">
          <a href="{{ block.settings.mega_cat_banner_link }}">
            <img data-src=" {%- if block.settings.cat_banner_image != blank -%}{{ block.settings.cat_banner_image | img_url: 'master' }} {%- else -%} https://via.placeholder.com/260x350 {%- endif -%}" class="lazyload img-fluid" alt="{{ block.settings.cat_banner_image.alt }}">
            <div class="mega_banner_content">
              {%- if block.settings.mega_banner_title1 != blank -%}
              <div class="title1">{{ block.settings.mega_banner_title1 }}</div>
              {%- endif -%}
              {%- if block.settings.mega_banner_title2 != blank -%}
              <div class="title2">{{ block.settings.mega_banner_title2 }}</div>
              {%- endif -%}
              {%- if block.settings.mega_banner_content != blank -%}
              <div class="content">{{ block.settings.mega_banner_content }}</div>
              {%- endif -%}
              {%- if block.settings.mega_banner_btn != blank -%}
              <p class="banner__btn">{{ block.settings.mega_banner_btn }}</p>
              {%- endif -%}
            </div>
          </a>
        </div>
        {%- elsif block.settings.megamenu_gallery_type == "product" -%}
        <div class="product_area" id="block-{{ block.id }}">
          {%- if block.settings.menu_product_title != blank -%}
          <div class="product_menu_title">{{ block.settings.menu_product_title }}</div>
          {%- endif -%}
          
          {%- capture data_owl_activation -%}
          data-owl-carousel='{
          "margin":0,
          "loop": true,
          "nav":true,
          "autoplay": false,
          "autoplayTimeout": 5000,
          "dots": false,
          "items":1,
          {%- if settings.rtl_enable -%}
          "rtl": true, 
          {%- endif -%}
          "navText": ["<i class=&#x27;ti-angle-left&#x27;></i>","<i class=&#x27;ti-angle-right&#x27;></i>"]
          }'
          {%- endcapture -%}
          
          {%- assign product_handler = collections[block.settings.menu_product_cat_handle_id] -%}
          <div class="menu_product_contain owl-carousel" {{ data_owl_activation }}>
            {%- for product in product_handler.products -%}
            <div class="menu_sin_product">
              <a class="image-wrap img_rel" href="{{ product.url | within: collection }}" style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;">
                {%- render 'responsive-image' with image: product.featured_image -%}
              </a>	
              {%- assign product_title_trim = block.settings.product_title_trim -%}
              <div class="product-title"><a href="{{ product.url | within: collection }}">{{ product.title | truncatewords: product_title_trim, "" }}</a></div>
              <div class="product__price">
                {{ product.variants.first.price | money }}
                {%- if product.variants.first.compare_at_price > product.variants.first.price -%}
                <div class="main-price discounted ">{{ product.variants.first.compare_at_price | money }}</div>
                {%- endif -%}
              </div>
            </div>
            {%- endfor -%}
          </div>
        </div>
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endif -%}
      
	  {%- when 'submenu' -%}
      {%- if block.settings.submenu_title == menuhandle -%}
      {%- for childlink in linklists[childlink_handle].links -%}
      {%- assign grand_childlink_handle = childlink.title | handle -%}
      {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
      <li class="multi_item single-column-has-children"><a  href="{{ childlink.url }}">{{ childlink.title }}</a>
        <ul class="multilevel-submenu">
          {%- for grand_childlink_handle in linklists[grand_childlink_handle].links -%}
          {%- assign level_four_handle = grand_childlink_handle.title | strip -%}
          {%- assign multiLevel4_menu = block.settings.multi_level4_menu -%}
          {%- assign level4_menu_isset = block.settings.multi_level_4 -%}
          
          {%- assign multiLevel4_menu_2 = block.settings.multi_level4_menu_2 -%}
          {%- assign level4_menu_isset_2 = block.settings.multi_level_4_2 -%}
          
          {%- assign multiLevel4_menu_3 = block.settings.multi_level4_menu_3 -%}
          {%- assign level4_menu_isset_3 = block.settings.multi_level_4_3 -%}
          
          {%- assign multiLevel4_menu_4 = block.settings.multi_level4_menu_4 -%}
          {%- assign level4_menu_isset_4 = block.settings.multi_level_4_4 -%}
          
           {%- assign multiLevel4_menu_5 = block.settings.multi_level4_menu_5 -%}
          {%- assign level4_menu_isset_5 = block.settings.multi_level_4_5 -%}
          
          {%- if linklists[multiLevel4_menu] != empty and level4_menu_isset == level_four_handle -%}
		  <li class="multi_item single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="multilevel-submenu">
              {%- for level4_menu in linklists[multiLevel4_menu].links -%}
              <li><a href="{{ level4_menu.url }}">{{ level4_menu.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- elsif linklists[multiLevel4_menu_2] != empty and level4_menu_isset_2 == level_four_handle -%}
		  <li class="multi_item single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="multilevel-submenu">
              {%- for level4_menu in linklists[multiLevel4_menu].links -%}
              <li><a href="{{ level4_menu.url }}">{{ level4_menu.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- elsif linklists[multiLevel4_menu_3] != empty and level4_menu_isset_3 == level_four_handle -%}
		  <li class="multi_item single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="multilevel-submenu">
              {%- for level4_menu in linklists[multiLevel4_menu].links -%}
              <li><a href="{{ level4_menu.url }}">{{ level4_menu.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- elsif linklists[multiLevel4_menu_4] != empty and level4_menu_isset_4 == level_four_handle -%}
		  <li class="multi_item single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="multilevel-submenu">
              {%- for level4_menu in linklists[multiLevel4_menu].links -%}
              <li><a href="{{ level4_menu.url }}">{{ level4_menu.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- elsif linklists[multiLevel4_menu_5] != empty and level4_menu_isset_5 == level_four_handle -%}
		  <li class="multi_item single-column-has-children"><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a>
            <ul class="multilevel-submenu">
              {%- for level4_menu in linklists[multiLevel4_menu].links -%}
              <li><a href="{{ level4_menu.url }}">{{ level4_menu.title }}</a></li>
              {%- endfor -%}
            </ul>
          </li>
          {%- else -%}
          <li><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a></li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      {%- else -%}
      <li class="multi_item"><a  href="{{ childlink.url }}">{{ childlink.title }}</a></li>
      {%- endif -%}
      {%- endfor -%}
      {%- endif -%}
      
      {%- when 'dropdown' -%}
      {%- if block.settings.dropdown_title == menuhandle -%}
      {%- for childlink in linklists[childlink_handle].links -%}
      <li class="drop_item"><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
      {%- endfor -%}
      {%- endif -%}
      {%- endcase -%}
      {%- endfor -%}
      
    </ul>
  </li>
  {%- else -%}
  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
  {%- endif -%}
  {%- endfor -%}
</ul>
<script>
  /* Mega Menu */
  $('.mega_dropdown').parent('ul').addClass('mega-menu');
  $('.drop_item').parent('ul').addClass('single-column-menu');
  $('.multi_item').parent('ul').addClass('single-column-menu ');
</script>