<ul class="dl-menu dl-menu-toggle">
  {% for link in section.settings.menu.links %}
  {% assign childlink_handle = link.title | handle %}
  {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
  <li class=""><a href="{{ link.url }}">{{ link.title }}</a>
    <ul class="dl-submenu">
      {% for childlink in linklists[childlink_handle].links %}
      {% assign grand_childlink_handle = childlink.title | handle %}
      {% if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 %}
      <li class=""><a class="" href="{{ childlink.url }}">{{ childlink.title }}</a>
        <ul class="dl-submenu">
          {% for grand_childlink_handle in linklists[grand_childlink_handle].links %}  
          <li><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a></li>
          {% endfor %}  
        </ul>
      </li>
      {% else %}
      <li class=""><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>



<script>
  $(".site-mobile-nav .dl-menu li > a img").remove();
</script>