{% capture html %}
{%- if settings.newsletter_system == 'by_shopify_form' -%}
{%- assign formId = 'Contact_' | append: section.id -%}
{%- form 'customer', id: formId, class: "shopify_newsletter__form" -%}
{%- if form.posted_successfully? -%}
<p class="form-message form-message--success form-success">{{ 'general.newsletter_form.confirmation'| t }} <button class="success-form-close-btn"><i class="ion-close-round"></i></button></p>
{%- else -%}
{%- if settings.newsletter_style_handle == 'newsletter_style_1' -%}
<div id="one-time-newsletter" class="newsletter-overlay-area">
  <div class="newsletter-content newsletter-content-bg-1" id="newsletter-content">

    <span class="close-icon" id="newsletter-popup-close-icon">
      <a href="javascript:void(0)">
        <i class="ion-android-close"></i>
      </a>
    </span>
    {%- if settings.newletter_popup_title != blank -%}
    <h2 class="mb-60">{{ settings.newletter_popup_title }}</h2>
    {%- endif -%}
    <div class="mc-newsletter-form mc-newsletter-form--popup mb-90">
      {%- if form.errors -%}
      <div class="form-message form-message--error">
        {{ form.errors | default_errors }}
      </div>
      {%- endif -%}
      <div class="">
        <div class="form__inner">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email" name="contact[email]" id="Email" value="{%- if customer -%}{{ customer.email }}{%- endif -%}"
                 placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
          <button type="submit"  name="commit" id="Subscribe">{{ settings.newsletter_button_name }}</button>
        </div>
        {%- if settings.dont_show_again_enable -%}
        <p class="dont_show_again"><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
        {%- endif -%}
      </div>
    </div>
    {%- if settings.newsletter_text != blank -%}
    <p>{{ settings.newsletter_text }}</p>
    {%- endif -%}
  </div>
</div>
{%- elsif settings.newsletter_style_handle == 'newsletter_style_2' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"> <i class="ion-android-close"></i></span>
    <div class="subscribe_area">
      {%- if settings.newletter_popup_title != blank -%}
      <h2 class="">{{ settings.newletter_popup_title }}</h2>
      {%- endif -%}
      
      {%- if settings.newsletter_text != blank -%}
      <p class="">{{ settings.newsletter_text }}</p>
      {%- endif -%}
      
      <div class="form-group subscribe-form-group">
        {%- if form.errors -%}
        <div class="form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
        {%- endif -%}
        <div class="">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email" class="form-control subscribe-form-input" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
                 placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
          <button type="submit" class="newsletter-btn" name="commit" id="Subscribe">{{ settings.newsletter_button_name }}</button>
          {%- if settings.dont_show_again_enable -%}
          <p class="dont_show_again"><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>			
</div>
{%- elsif settings.newsletter_style_handle == 'newsletter_style_3' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"><i class="ion-android-close"></i></span>
    <div class="subscribe_area area-2">
      <div class="subscribe-image">
        {%- if settings.newsletter_bg_img -%}
        <img src="{{ settings.newsletter_bg_img | img_url: '440x550', crop: 'center' }}">
        {%- else -%}
        <img src="https://via.placeholder.com/440x550">
        {%- endif -%}
      </div>
      <div class="subscribe-content">
        {%- if settings.newletter_popup_title != blank -%}
        <h2 class="">{{ settings.newletter_popup_title }}</h2>
        {%- endif -%}

        {%- if settings.newsletter_text != blank -%}
        <p class="">{{ settings.newsletter_text }}</p>
        {%- endif -%}
        <div class="form-group subscribe-form-group">
        {%- if form.errors -%}
        <div class="form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
        {%- endif -%}
        <div class="">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email" class="form-control subscribe-form-input" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
                 placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
          <button type="submit" class="newsletter-btn" name="commit" id="Subscribe">{{ settings.newsletter_button_name }}</button>
          {%- if settings.dont_show_again_enable -%}
          <p class="dont_show_again"><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
          {%- endif -%}
        </div>
      </div>
      </div>
    </div>
  </div>			
</div>
{%- endif -%}

{%- endif -%}
{%- endform -%}

{%- elsif settings.newsletter_system == 'by_mailchimp' -%}

{%- if settings.newsletter_style_handle == 'newsletter_style_1' -%}
<div id="one-time-newsletter" class="newsletter-overlay-area">
  <div class="newsletter-content newsletter-content-bg-1" id="newsletter-content">

    <span class="close-icon" id="newsletter-popup-close-icon">
      <a href="javascript:void(0)">
        <i class="ion-android-close"></i>
      </a>
    </span>
    {%- if settings.newletter_popup_title != blank -%}
    <h2 class="mb-60">{{ settings.newletter_popup_title }}</h2>
    {%- endif -%}
	{%- render 'newsletter_form' -%}
    {%- if settings.newsletter_text != blank -%}
    <p>{{ settings.newsletter_text }}</p>
    {%- endif -%}
  </div>
</div>
{%- elsif settings.newsletter_style_handle == 'newsletter_style_2' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"> <i class="ion-android-close"></i></span>
    <div class="subscribe_area">
      {%- if settings.newletter_popup_title != blank -%}
      <h2 class="">{{ settings.newletter_popup_title }}</h2>
      {%- endif -%}
      
      {%- if settings.newsletter_text != blank -%}
      <p class="">{{ settings.newsletter_text }}</p>
      {%- endif -%}
      <div class="form-group subscribe-form-group">          
        <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <input type="email" class="form-control subscribe-form-input" id="mail" value="{%- if customer -%}{{ customer.email }}{%- endif -%}" name="EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}">
          <button type="submit" class="newsletter-btn" id="subscribe">{{ settings.newsletter_button_name }}</button>
          {%- if settings.dont_show_again_enable -%}
          <p><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
          {%- endif -%}
        </form>
      </div>
    </div>
  </div>			
</div>
{%- elsif settings.newsletter_style_handle == 'newsletter_style_3' -%}
<div id="one-time-newsletter" class="popup_wrapper">
  <div class="newsletter_popup_inner">
    <span class="popup_off"><i class="ion-android-close"></i></span>
    <div class="subscribe_area area-2">
      <div class="subscribe-image">
        {%- if settings.newsletter_bg_img -%}
        <img src="{{ settings.newsletter_bg_img | img_url: '440x550', crop: 'center' }}">
        {%- else -%}
        <img src="https://via.placeholder.com/440x550">
        {%- endif -%}
      </div>
      <div class="subscribe-content">
        {%- if settings.newletter_popup_title != blank -%}
        <h2 class="">{{ settings.newletter_popup_title }}</h2>
        {%- endif -%}

        {%- if settings.newsletter_text != blank -%}
        <p class="">{{ settings.newsletter_text }}</p>
        {%- endif -%}
        <div class="form-group subscribe-form-group">          
          <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <input type="email" class="form-control subscribe-form-input" id="mail" value="{%- if customer -%}{{ customer.email }}{%- endif -%}" name="EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}">
            <button type="submit" class="newsletter-btn" id="subscribe">{{ settings.newsletter_button_name }}</button>
            {%- if settings.dont_show_again_enable -%}
            <p><input id="forgetMe" type="checkbox" name="forgetMe"> {{ settings.dont_show_again_text }}</p>
            {%- endif -%}
          </form>
        </div>
      </div>
    </div>
  </div>			
</div>
{%- endif -%}
{%- endif -%}
{% endcapture %}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}



<script>
  var SuccessFormToggle = $('.success-form-close-btn');
  SuccessFormToggle.on('click', function(){
    $('.form-message--success').slideToggle();
  })
</script>

{%- if settings.one_day_popup_enable -%}
{{ 'newsletter-js.js' | asset_url | script_tag | remove: ' type="text/javascript"' }}
<script>
  $(function () {
    $('#one-time-newsletter').firstVisitPopup({
      cookieName : 'mohin'
    });
  });
</script>
{%- else -%}
<script>
  	jQuery(window).on('load', function () {
    var newselttershow = window.newsletter.newsletteDisplay;
    var newsletterpopuDelay = window.newsletter.newsletterDelay+"000";  
    var windows = $(window);
    var screenSize = windows.width();
    var newslettershowmobile = {{ settings.newsletter_Show }};
    if (screenSize >= newslettershowmobile) {
      setTimeout(function() {
        $('.popup_wrapper').css({"opacity": "1", "visibility": "visible"});
        $('.popup_off').click(function(){
          $(".popup_wrapper").fadeOut(200);
        })
      }, newsletterpopuDelay);	
    }
  });
</script>
{%- endif -%}

{%- if settings.dont_show_again_enable -%}
<script>
  if(localStorage.getItem("DontShow")) {
    $("#one-time-newsletter").hide();
  }
  $("#forgetMe").on("click", function() {
    localStorage.setItem("DontShow", "true");
  });
</script>
{%- endif -%}