{% capture html %}
<!-- Modal -->
<div class="modal fade bd-example-modal-md" id="notify_available__product" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {%- if section.settings.notify_popup_title != blank -%}
        <h5 class="modal-title" id="exampleModalLongTitle">{{ section.settings.notify_popup_title }}</h5>
        {%- endif -%}
        <button type="button" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i> </button>
      </div>
      <div class="modal-body">
        {% form 'contact', class: 'ask_about_product' %}
        <div class="row">
          <div class="col-12">
            {% if form.posted_successfully? %}
            <p class="note form-success">{{ 'contact.form.post_success' | t }}</p>
            {% endif %}
            {{ form.errors | default_errors }}
          </div>
          
          <div class="col-12 mb-30">
            <input type="email" class="w-100" required placeholder="{{ section.settings.notify_email_placeholder }}" class="{% if form.errors contains 'email' %}error{% endif %}" name="contact[email]" id="ContactFormEmail" value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}">
          </div>
          
          <div class="d-none">
            <textarea class="custom-textarea" name="contact[body]" > {{ section.settings.notify_email_first_text }} {{ product.title }} {{ section.settings.notify_email_second_text }} - {{ shop.url | append: product.url }}</textarea>
          </div>
          
          
          <div class="col-lg-12 text-center">
            <button type="submit" value="submit" class="phoone-button phoone-button--small">{{ section.settings.notify_btn_submit }}</button>
          </div>
          
        </div>
        {% endform %}
        
      </div>
    </div>
  </div>
</div>
{% endcapture %}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}