<!--=======  offcanvas mobile menu  =======-->
<div class="menu_offcanvas_overlay"></div>
<div class="offcanvas-mobile-menu" id="mobile-menu-overlay">
  <a href="javascript:void(0)" class="offcanvas-menu-close" id="mobile-menu-close-trigger">
    <i class="ti-close"></i>
  </a>
  <div class="offcanvas-wrapper">
    <div class="offcanvas-inner-content">
      {%- if section.settings.mobile_search_field_enable -%}
      <div class="offcanvas-mobile-search-area">
        <form action="/search" method="get" class="input-group search-bar" role="search">
          {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
          <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
          <button type="submit">
            <i class="ion-ios-search-strong"></i>
          </button>
        </form>
      </div>
      {%- endif -%}

      <nav class="offcanvas-navigation" id="offcanvas__main--menu">
        <ul>
          {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'singleMenu' -%}
          <li><a href="{{ block.settings.menuItemUrl }}">{{ block.settings.menuItemText }}</a></li>
          {%- when 'dropdown' -%}
          {% assign sub_menu = block.settings.subMenu %}
          <li {% if sub_menu != blank %}class="menu-item-has-children"{% endif %}><a href="{{ block.settings.menuItemUrl }}">{{ block.settings.menuItemText }}</a>
            <ul class="sub-menu">
              {% for link in linklists[sub_menu].links %}
              <li><a href="{{ link.url }}"> {{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {%- when 'multi-level' -%}
          {% assign sub_menu = block.settings.multiLevel %}
          <li {% if sub_menu != blank %}class="menu-item-has-children"{% endif %}><a href="{{ block.settings.menuItemUrl }}">{{ block.settings.menuItemText }}</a>
            <ul class="sub-menu">
              {% for link in linklists[sub_menu].links %}
              <li class="{% if link.links != blank %}menu-item-has-children{% endif %}"><a href="{{ link.url }}"> {{ link.title }}</a>
                {%- if link.links != blank -%}
                <ul class="sub-menu">
                  {%- for child_link in link.links -%} 
                  <li class="{% if child_link.links != blank %}menu-item-has-children{% endif %}"><a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    {%- if child_link.links != blank -%}
                    <ul class="sub-menu">
                      {%- for grand_child_link  in child_link.links -%}
                      <li><a href="{{ grand_child_link.url }}">{{ grand_child_link.title }}</a></li>
                      {%- endfor -%}
                    </ul>
                    {%- endif -%}
                  </li>
                  {%- endfor -%}              
                </ul>
                {%- endif -%}
              </li>
              {% endfor %}
            </ul>
          </li>
          {%- when 'megaMenu' -%}
          {% assign mega_menu = block.settings.MegaMenu %}
          <li {% if mega_menu != blank %}class="menu-item-has-children"{% endif %}><a href="{{ block.settings.menuItemUrl }}">{{ block.settings.menuItemText }}</a>
            <ul class="sub-menu">
              {% for link in linklists[mega_menu].links %}
              <li {% if link.links != blank %}class="menu-item-has-children"{% endif %}><a href="{{ link.url }}"> {{ link.title }}</a>
                {%- if link.links != blank -%}
                <ul class="sub-menu">
                  {%- for child_link in link.links -%} 
                  <li {% if child_link.links != blank %}class="menu-item-has-children"{% endif %}><a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    {%- if child_link.links != blank -%}
                    <ul class="sub-menu">
                      {%- for grandchild_link  in child_link.links -%}
                      <li><a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                      {%- endfor -%}
                    </ul>
                    {%- endif -%}
                  </li>
                  {%- endfor -%}
                </ul> 
                {%- endif -%}
              </li>
              {% endfor %}
            </ul>
          </li>
          {%- endcase -%}
          {%- endfor -%}  
        </ul>
      </nav>

      <div class="offcanvas-widget-area">
        <!--Off Canvas Widget Social Start-->
        {%- if section.settings.mobile_social_midea_enable -%}
        <div class="off-canvas-widget-social social-icons--footer">
          {% render 'social-midea' %}
        </div>
        {%- endif -%}
        <!--Off Canvas Widget Social End-->
      </div>
    </div>
  </div>
</div>
