{% capture html %}
{%- if settings.product_cart_type == 'ajax_popup_cart' -%}
<!-- modalAddToCart -->
<div class="modal fade ajax-popup" id="modalAddToCart" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog white-modal modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-content-text">
          <div class="popup-image">
            <p class="success-message"><i class="fa fa-check-circle"></i>{{ settings.successfull_note }}</p>
            <div class="cart_img_inner">
              <div class="popup_img_inner">
                <img class="popupimage" src="">
              </div>
              <div class="content_inner">
                <h6 class="productmsg"></h6>
<!--                 <span class="pop_current_price"> </span> -->
              </div>
            </div>
          </div>
          <div class="popup-content">
            <p class="total_item"> {{ settings.total_cart_before_title }} <span class="cart_count bigcounter">{{ cart.item_count }}</span> {{ settings.total_cart_after_title }}</p>
            <p class="cart_total"> <span class="total_price_label">{{ settings.total_price_label }} </span> <span class="shopping-cart__total">{{ cart.total_price | money }}</span></p>
            <div class="modal-button {% if settings.popup_agree_button_enable and settings.agree_button_enable %}disabled{% endif %}">
              
              {%- if settings.continue_shopping_btn_enable -%}
              <a href="{{ settings.continue_shopping_btn_url | default: "/collections/all" }}" class="phoone-button phoone-button--medium"> {{ settings.continue_shopping }} </a>
              {%- endif -%}
              {%- if settings.popup_cart_button_enable -%}
              <a href="{{ routes.cart_url }}" class="phoone-button phoone-button--medium">{{ settings.view_cart_button2 }}</a>
			  {%- endif -%}
              
              {%- if settings.checkout_button_enable -%}
              {%- if settings.popup_agree_button_enable and settings.agree_button_enable -%}
                <input type="checkbox" id="popup_ageree_term_cond" value="1">
                <label for="popup_ageree_term_cond">{{ settings.agree_button_text }}</label>
              {%- endif -%}
              <a href="/checkout" class="phoone-button phoone-button--medium popup-checkout--btn">{{ settings.checkout_button2 }}</a>
              {%- endif -%}
              
            </div>
          </div>
        </div>
        <div class="modal-close">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modalAddToCart -->
{%- endif -%}
<!-- modalAddToCart Error -->
<div class="modal fade ajax-popup error-ajax-popup" id="modalAddToCartError" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog white-modal modal-md">
    <div class="modal-content ">
      <div class="modal-body">
        <div class="modal-content-text">
          <p class="error_message"></p>
        </div>
        <div class="modal-close">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}