<div class="color-container">
  <ul class="grid-color-swatch ">
    {%- for option in product.options -%}
    {%- if option == 'Color' or option == 'Colour' -%}
    {%- assign index = forloop.index0 -%}
    {%- assign colorlist = '' -%}
    {%- assign color = '' -%}
    {%- for variant in product.variants limit: 50 -%}
    {%- capture color -%}
    {{ variant.options[index] }}
    {%- endcapture -%}
    {%- unless colorlist contains color -%}
    {%- assign text = color | handleize -%}
    <li class="{% if variant.image != null %} img_variant {% endif %} color__Variant">
      {%- unless variant.image != null -%}
      <label data-tippy-content="{{ color }}" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" style="{% if text == 'white' %}border: 1px solid #f1f1f1; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></label>
      {%- endunless -%}
      <!-- Product Image Lazyload with Retina  -->
      {%- assign pro_width = settings.product_img_width | default: '600' -%}
      {%- assign pro_height = settings.product_img_height | default: '800' -%}

      {%- assign proDimension = pro_width | append: 'x' | append: pro_height -%}
      {%- assign productImgSize = proDimension | append: "'" | prepend: "'" -%}
      
      {%- if variant.image != null -%}
      <div class="variant_img">
        <a data-tippy-content="{{ color }}" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" href="{{ variant.image.src | product_img_url: productImgSize, crop: 'center' }}"><img class="lazyload" data-src="{{ variant.image.src | product_img_url: 'icon', crop: 'center' }}" alt=""></a>
      </div>
      {%- endif -%}
    </li>
    {%- capture tempList -%}
    {{ colorlist | append: color | append: ' ' }}
    {%- endcapture -%}

    {%- assign colorlist = tempList -%}
    {%- endunless -%}

    {%- endfor -%}
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
<script>$('.color__Variant').parent('ul').addClass('variant_exist');$('.variant_exist').parent('div').addClass('color_variant_div');$('.color_variant_div').parent('div').addClass('color_variant_conatiner');</script>