{% for block in section.blocks %}

{% assign img_loader = 'dummy.png' | asset_img_url: 'master' %}
{% assign img_lazy_loader = 'transparent.png' | asset_img_url: 'master' %}

{% case block.type %}
{% when 'slide1' %}
<li id="block-{{ block.id }}" data-index="rs-39-{{ forloop.index }}" data-transition="parallaxtotop,parallaxhorizontal,parallaxtobottom,parallaxvertical,parallaxtoleft,parallaxtoright" data-slotamount="default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default" data-easeout="default,default,default,default,default,default" data-masterspeed="default,default,default,default,default,default"  data-thumb=""  data-rotate="0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{{ img_loader }}" data-bgcolor='{{ block.settings.slide_Layer_bg_color }}' style='background:#e9f0f1' alt=""  data-lazyload="{{ img_lazy_loader }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
  <!-- LAYERS -->

  
  <!-- LAYER NR. 1 -->
  
  {% if block.settings.circle_shape %}
  <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
       id="slide-39-layer-32" 
       data-x="['left','left','left','left']" data-hoffset="['808','387','267','149']" 
       data-y="['top','top','top','top']" data-voffset="['102','-36','104','39']" 
       data-width="['526','526','403','281']"
       data-height="['526','526','403','281']"
       data-whitespace="nowrap"

       data-type="shape" 
       data-responsive_offset="on" 

       data-frames='[{"delay":510,"speed":1470,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 5;background-color:{{ block.settings.circle_shape_bg_color }};border-radius:300px 300px 300px 300px;">
    <div class="rs-looped rs-slideloop"  data-easing="" data-speed="2" data-xs="0" data-xe="0" data-ys="-10" data-ye="10"> </div></div>
  {% endif %}
  

  <!-- LAYER NR. 2 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-39-layer-17" 
       data-x="['left','center','left','left']" data-hoffset="['100','-671','-509','-382']" 
       data-y="['middle','middle','top','top']" data-voffset="['330','280','784','367']" 
       data-fontsize="['48','56','72','40']"
       data-lineheight="['56','64','96','50']"
       data-fontweight="['400','300','700','700']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":780,"speed":1940,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 6; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_active_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.index }}  </div>

  <!-- LAYER NR. 3 -->
  <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
       id="slide-39-layer-21" 
       data-x="['left','left','left','left']" data-hoffset="['150','150','-144','-144']" 
       data-y="['top','top','top','top']" data-voffset="['780','780','648','648']" 
       data-width="80"
       data-height="2"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="shape" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1000,"speed":1700,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 7;background: {{ block.settings.divider_color | color_modify: 'alpha', block.settings.divider_color_opacity }};"> </div>

  <!-- LAYER NR. 4 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-39-layer-18" 
       data-x="['left','center','left','left']" data-hoffset="['250','-607','-327','-263']" 
       data-y="['middle','middle','top','top']" data-voffset="['330','283','795','370']" 
       data-fontsize="['48','34','72','40']"
       data-lineheight="['56','40','96','50']"
       data-fontweight="['400','300','700','700']"
       data-color="['{{ block.settings.pgainate_prev_color }}','rgb(204,204,204)','rgb(51,51,51)','rgb(51,51,51)']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1180,"speed":1940,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 8; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: #cccccc; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.length }}  </div>

  <!-- LAYER NR. 5 -->
  
  {% if block.settings.image_layer1 %}
  <div class="tp-caption   tp-resizeme" 
       id="slide-39-layer-30" 
       data-x="['left','left','left','right']" data-hoffset="['860','446','340','17']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-595','-428','0','-4']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="image" 
       data-responsive_offset="on" 

       data-frames='[{"delay":650,"speed":1940,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 9;"><img src="{{ img_loader }}" alt="" data-ww="['680auto','540px','408px','270px']" data-hh="['1467','1165px','880px','583px']" data-lazyload="{% if block.settings.slide_img_layer1 != blank %}{{ block.settings.slide_img_layer1 | img_url: 'master' }}{% else %} https://cdn.shopify.com/s/files/1/0132/3116/1408/files/hp3-element-1.png?v=1546408128 {% endif %}" data-no-retina> </div>
	{% endif %}
  
  
  <!-- LAYER NR. 6 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-39-layer-13" 
       data-x="['center','center','left','left']" data-hoffset="['-481','-353','57','41']" 
       data-y="['top','top','top','top']" data-voffset="['276','356','539','280']" 
       data-color="['{{ block.settings.slide_title1_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 36px; font-weight: 600; color: #333333; letter-spacing: 3px;font-family:Work Sans;">{{ block.settings.rev_slide1_title1 }} </div>

  <!-- LAYER NR. 7 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-39-layer-3" 
       data-x="['center','center','center','left']" data-hoffset="['-477','-254','-155','37']" 
       data-y="['middle','middle','middle','top']" data-voffset="['-42','112','189','343']" 
       data-fontsize="['56','56','56','35']"
       data-color="['{{ block.settings.slide_title2_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-lineheight="['72','72','72','45']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":950,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['center','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 11; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 600; color: #333333; letter-spacing: 0px;font-family:Work Sans;">{{ block.settings.rev_slide1_title2 }}</div>

  {% if block.settings.rev_slide1_btn != blank %}
  <!-- LAYER NR. 8 -->
  <div class="tp-caption Slider-button-alt rev-btn  tp-resizeme" 
       id="slide-39-layer-20" 
       data-x="['center','center','center','left']" data-hoffset="['-480','-361','-253','43']" 
       data-y="['top','top','top','top']" data-voffset="['526','605','769','469']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="button" 
       data-actions='[{"event":"click"}]'
       data-responsive_offset="on" 

       data-frames='[{"delay":1290,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:transparent;"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[12,12,12,12]"
       data-paddingright="[35,35,35,35]"
       data-paddingbottom="[12,12,12,12]"
       data-paddingleft="[35,35,35,35]"

       	
       style="z-index: 12; white-space: nowrap; letter-spacing: 1px;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a class="revslider-button" href="{{ block.settings.rev_slide1_btn_link }}">{{ block.settings.rev_slide1_btn }}</a> </div>
  		{% endif %}
  <style>
    #block-{{ block.id }} .tp-caption.Slider-button-alt.rev-btn {
      background: {{ block.settings.rev_slide_caption_btn_bg_color }};
      border-color: {{ block.settings.rev_slide_caption_btn_bg_color }} !important;
      color: {{ block.settings.rev_slide_caption_btn_color }};
    }
    #block-{{ block.id }} .tp-caption.Slider-button-alt.rev-btn:hover {
      background: {{ block.settings.rev_slide_caption_btn_hover_bg_color }} !important;
      color: {{ block.settings.rev_slide_caption_btn_hover_color }} !important;
      border-color: {{ block.settings.rev_slide_caption_btn_hover_border_bg_color }} !important;
    }
  </style>
  


</li>

{% when 'slide2' %}
<!-- SLIDE  -->
<li id="block-{{ block.id }}" data-index="rs-40-{{ forloop.index }}" data-transition="scaledownfromright,scaledownfromleft,scaledownfromtop,scaledownfrombottom,zoomout,zoomin,slotzoom-horizontal,slotzoom-vertical" data-slotamount="default,default,default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default,default,default" data-easeout="default,default,default,default,default,default,default,default" data-masterspeed="default,default,default,default,default,default,default,default"  data-thumb=""  data-rotate="0,0,0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{{ img_loader }}" data-bgcolor='{{ block.settings.slide_Layer_bg_color }}' style='background:#f6f6f6' alt=""  data-lazyload="{{ img_lazy_loader }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
  <!-- LAYERS -->

  <!-- LAYER NR. 9 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-40-layer-17" 
       data-x="['left','center','left','left']" data-hoffset="['100','-671','-509','-382']" 
       data-y="['middle','middle','top','top']" data-voffset="['330','280','784','367']" 
       data-fontsize="['48','56','72','40']"
       data-lineheight="['56','64','96','50']"
       data-fontweight="['400','300','700','700']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1160,"speed":1940,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 5; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_active_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.index }}  </div>

  <!-- LAYER NR. 10 -->
  <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
       id="slide-40-layer-21" 
       data-x="['left','left','left','left']" data-hoffset="['150','150','-380','-380']" 
       data-y="['top','top','top','top']" data-voffset="['781','781','690','690']" 
       data-width="80"
       data-height="2"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="shape" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1000,"speed":1700,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 6;background: {{ block.settings.divider_color | color_modify: 'alpha', block.settings.divider_color_opacity }};"> </div>

  <!-- LAYER NR. 11 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-40-layer-18" 
       data-x="['left','center','left','left']" data-hoffset="['250','-607','-327','-263']" 
       data-y="['middle','middle','top','top']" data-voffset="['330','283','795','370']" 
       data-fontsize="['48','34','72','40']"
       data-lineheight="['56','40','96','50']"
       data-fontweight="['400','300','700','700']"
       data-color="['{{ block.settings.pgainate_prev_color }}','rgb(204,204,204)','rgb(51,51,51)','rgb(51,51,51)']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":840,"speed":1940,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: rgba(51,51,51,0.3); letter-spacing: 0px;font-family:Work Sans;">{{ forloop.length }} </div>

  <!-- LAYER NR. 12 -->
  {% if block.settings.round_shape_img %}
  <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
       id="slide-40-layer-28" 
       data-x="['left','left','left','left']" data-hoffset="['816','548','155','118']" 
       data-y="['top','top','top','top']" data-voffset="['75','137','362','329']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="image" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1070,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 8;">
    <div class="rs-looped rs-slideloop"  data-easing="" data-speed="2" data-xs="0" data-xe="0" data-ys="-10" data-ye="10"><img src="{{ img_loader }}" alt="" data-ww="['723auto','374px','502px','252px']" data-hh="['723px','374px','366px','258px']" data-lazyload="{% if block.settings.slide2_img_layer1 != blank %} {{ block.settings.slide2_img_layer1 | img_url: 'master' }} {% else %}  https://cdn.shopify.com/s/files/1/0132/3116/1408/files/hp3-element-3_41565128-c598-42a2-a120-cd1b26031848.png?9811 {% endif %} " data-no-retina> </div></div>
	{% endif %}
  
  
  <!-- LAYER NR. 13 -->
  {% if block.settings.image_layer1 %}
  <div class="tp-caption   tp-resizeme" 
       id="slide-40-layer-30" 
       data-x="['left','left','center','center']" data-hoffset="['808','502','5','0']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-143','0','-95','-60']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="image" 
       data-responsive_offset="on" 

       data-frames='[{"delay":550,"speed":2230,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 9;"><img src="{{ img_loader }}" alt="" data-ww="['724px','472px','498px','333px']" data-hh="['1007px','656px','693px','464px']" data-lazyload="{%- if block.settings.slide2_img_layer2 != blank -%}{{ block.settings.slide2_img_layer2 | img_url: 'master' }}{%- else -%} //cdn.shopify.com/s/files/1/0132/3116/1408/files/hp3-element-2.png?v=1546408151 {%- endif -%}" data-no-retina> </div>
  {% endif %}
  
  
  <!-- LAYER NR. 14 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-40-layer-13" 
       data-x="['center','center','left','center']" data-hoffset="['-480','-353','298','0']" 
       data-y="['top','top','top','top']" data-voffset="['238','286','55','76']" 
       data-fontsize="['16','16','16','14']"
       data-color="{{ block.settings.slide_title1_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 36px; font-weight: 600; color: #333333; letter-spacing: 3px;font-family:Work Sans;">{{ block.settings.rev_slide1_title1 }}</div>

  <!-- LAYER NR. 15 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-40-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['-472','-239','17','0']" 
       data-y="['middle','middle','middle','top']" data-voffset="['-59','35','-292','133']" 
       data-fontsize="['56','56','56','35']"
       data-color="{{ block.settings.slide_title2_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-lineheight="['72','72','72','45']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1260,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['center','inherit','center','center']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 11; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 600; color: #333333; letter-spacing: 0px;font-family:Work Sans;">{{ block.settings.rev_slide1_title2 }}</div>

  <!-- LAYER NR. 16 -->
  <div class="tp-caption Slider-button-alt rev-btn  tp-resizeme" 
       id="slide-40-layer-20" 
       data-x="['center','center','center','center']" data-hoffset="['-482','-364','10','0']" 
       data-y="['top','top','top','top']" data-voffset="['515','536','296','246']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="button" 
       data-actions='[{"event":"click","action":"simplelink","target":"_blank","url":"\/shop\/","delay":""}]'
       data-responsive_offset="on" 

       data-frames='[{"delay":1610,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:transparent;"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[12,12,12,12]"
       data-paddingright="[35,35,35,35]"
       data-paddingbottom="[12,12,12,12]"
       data-paddingleft="[35,35,35,35]"
	{% if block.settings.rev_slide1_btn != blank %}
       style="z-index: 12; white-space: nowrap; letter-spacing: 1px;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a class="revslider-button" href="{{ block.settings.rev_slide1_btn_link }}">{{ block.settings.rev_slide1_btn }}</a> </div>
  {% endif %}
  <style>
    #block-{{ block.id }} .tp-caption.Slider-button-alt.rev-btn {
      background: {{ block.settings.rev_slide_caption_btn_bg_color }};
      border-color: {{ block.settings.rev_slide_caption_btn_bg_color }} !important;
      color: {{ block.settings.rev_slide_caption_btn_color }};
    }
    #block-{{ block.id }} .tp-caption.Slider-button-alt.rev-btn:hover {
      background: {{ block.settings.rev_slide_caption_btn_hover_bg_color }} !important;
      color: {{ block.settings.rev_slide_caption_btn_hover_color }} !important;
      border-color: {{ block.settings.rev_slide_caption_btn_hover_border_bg_color }} !important;
    }
  </style>

</li>
{% when 'slide3' %}
<!-- SLIDE  -->
<li id="block-{{ block.id }}" data-index="rs-41-{{ forloop.index }}" data-transition="slideremoveright,slideremoveleft,slideremoveup,slideremovedown,slideremovehorizontal,slideremovevertical" data-slotamount="default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default" data-easeout="default,default,default,default,default,default" data-masterspeed="default,default,default,default,default,default"  data-thumb=""  data-rotate="0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{{ img_loader }}" data-bgcolor='{{ block.settings.slide_Layer_bg_color }}' style='background:#dfd2c0' alt=""  data-lazyload="{{ img_lazy_loader }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
  <!-- LAYERS -->

  <!-- LAYER NR. 17 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-41-layer-17" 
       data-x="['left','center','left','left']" data-hoffset="['100','-671','-509','-382']" 
       data-y="['middle','middle','top','top']" data-voffset="['330','280','784','367']" 
       data-fontsize="['48','56','72','40']"
       data-lineheight="['56','64','96','50']"
       data-fontweight="['400','300','700','700']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1160,"speed":1940,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 5; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_active_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.index }}  </div>

  <!-- LAYER NR. 18 -->
  <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
       id="slide-41-layer-21" 
       data-x="['left','left','left','left']" data-hoffset="['151','151','-317','-317']" 
       data-y="['top','top','top','top']" data-voffset="['780','780','676','676']" 
       data-width="80"
       data-height="2"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="shape" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1000,"speed":1700,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 6;background: {{ block.settings.divider_color | color_modify: 'alpha', block.settings.divider_color_opacity }};"> </div>

  <!-- LAYER NR. 19 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-41-layer-18" 
       data-x="['left','center','left','left']" data-hoffset="['250','-607','-327','-263']" 
       data-y="['middle','middle','top','top']" data-voffset="['330','283','795','370']" 
       data-fontsize="['48','34','72','40']"
       data-lineheight="['56','40','96','50']"
       data-fontweight="['400','300','700','700']"
       data-color="['{{ block.settings.pgainate_prev_color }}','rgb(204,204,204)','rgb(51,51,51)','rgb(51,51,51)']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"
       data-visibility="['on','off','off','off']"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":840,"speed":1940,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: rgba(51,51,51,0.3); letter-spacing: 0px;font-family:Work Sans;">{{ forloop.length }}  </div>

  <!-- LAYER NR. 20 -->
  {% if block.settings.image_layer1 %}
  <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
       id="slide-41-layer-30" 
       data-x="['left','left','center','center']" data-hoffset="['781','314','-17','1']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-101','-143','-216','-125']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"
       data-type="image" 
       data-responsive_offset="on" 
       data-frames='[{"delay":550,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"
       style="z-index: 8;">
    <div class="rs-looped rs-slideloop"  data-easing="" data-speed="2" data-xs="0" data-xe="0" data-ys="-10" data-ye="10"><img src="{{ img_loader }}" alt="" data-ww="['998px','707px','787px','453px']" data-hh="['867px','775px','861px','496px']" data-lazyload="{% if block.settings.slide3_img_layer1 != blank %} {{ block.settings.slide3_img_layer1 | img_url: 'master' }} {% else %}https://cdn.shopify.com/s/files/1/0132/3116/1408/files/hp3-element-4.png?v=1546408165 {% endif %}" data-no-retina> </div></div>
  {% endif %}

  
  
  <!-- LAYER NR. 21 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-41-layer-13" 
       data-x="['center','center','center','center']" data-hoffset="['-349','-377','0','0']" 
       data-y="['top','top','top','top']" data-voffset="['277','253','73','76']" 
       data-color="['{{ block.settings.slide_title1_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 9; white-space: nowrap; font-size: 16px; line-height: 36px; font-weight: 600; color: #333333; letter-spacing: 3px;font-family:Work Sans;">{{ block.settings.rev_slide1_title1 }}</div>

  <!-- LAYER NR. 22 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-41-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['-349','-219','0','0']" 
       data-y="['middle','middle','middle','top']" data-voffset="['-28','25','-279','133']" 
       data-fontsize="['56','56','56','35']"
       data-color="['{{ block.settings.slide_title2_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-lineheight="['72','72','72','45']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1260,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['center','inherit','center','center']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 10; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 600; color: #333333; letter-spacing: 0px;font-family:Work Sans;">{{ block.settings.rev_slide1_title2 }}</div>

  <!-- LAYER NR. 23 -->
  <div class="tp-caption Slider-button-alt rev-btn  tp-resizeme" 
       id="slide-41-layer-20" 
       data-x="['center','center','center','center']" data-hoffset="['-362','-375','0','0']" 
       data-y="['top','top','top','top']" data-voffset="['554','530','305','248']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="button" 
       data-actions='[{"event":"click","action":"simplelink","target":"_blank","url":"\/shop\/","delay":""}]'
       data-responsive_offset="on" 

       data-frames='[{"delay":1610,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:transparent;"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[12,12,12,12]"
       data-paddingright="[35,35,35,35]"
       data-paddingbottom="[12,12,12,12]"
       data-paddingleft="[35,35,35,35]"

       {% if block.settings.rev_slide1_btn != blank %}
       style="z-index: 11; white-space: nowrap; letter-spacing: 1px;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a class="revslider-button" href="{{ block.settings.rev_slide1_btn_link }}">{{ block.settings.rev_slide1_btn }}</a> </div>
	  {% endif %}
  <style>
    #block-{{ block.id }} .tp-caption.Slider-button-alt.rev-btn {
      background: {{ block.settings.rev_slide_caption_btn_bg_color }};
      border-color: {{ block.settings.rev_slide_caption_btn_bg_color }} !important;
      color: {{ block.settings.rev_slide_caption_btn_color }};
    }
    #block-{{ block.id }} .tp-caption.Slider-button-alt.rev-btn:hover {
      background: {{ block.settings.rev_slide_caption_btn_hover_bg_color }} !important;
      color: {{ block.settings.rev_slide_caption_btn_hover_color }} !important;
      border-color: {{ block.settings.rev_slide_caption_btn_hover_border_bg_color }} !important;
    }
  </style>
</li>
{% when 'video_slide' %}
<li id="block-{{ block.id }}" data-index="rs-5-{{ forloop.index }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/100x50_96536-404-bg.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{%- if block.settings.video_thumbnail != blank -%} {{ block.settings.video_thumbnail | img_url: 'master' }} {%- else -%} https://cdn.shopify.com/s/files/1/0159/0355/5638/files/video_thumb_9162ac84-91a1-4ebb-9f7f-bb07ce98e38c.png?4756{%- endif -%}"  alt=""  data-bgposition="center center" data-bgfit="cover" class="rev-slidebg" data-no-retina>
  <div class="rs-background-video-layer" 
       data-forcerewind="on" 
       data-volume="{%- if block.settings.video_mute == "on" -%}mute{%- elsif block.settings.video_mute == "off" -%}{{ block.settings.video_volume }}{%- endif -%}" 
       data-ytid="{{ block.settings.yotube_video_id }}" 
       data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;rel=0;" 
       data-videorate="1" 
       data-videowidth="100%" 
       data-videoheight="100%" 
       data-videocontrols="none" 
       data-videoloop="{%- if block.settings.video_loop == "on" -%}loop {%- elsif block.settings.video_loop == "off" -%}none{%- endif -%}" 
       data-forceCover="1" 
       data-aspectratio="16:9" 
       data-autoplay="true" 
       data-autoplayonlyfirsttime="false" 
       ></div>
</li>
{% endcase %}
{% endfor %}