{% for block in section.blocks %}

{% assign img_loader = 'dummy.png' | asset_img_url: 'master' %}
{% assign img_lazy_loader = 'transparent.png' | asset_img_url: 'master' %}

{% case block.type %}
{% when 'slide1' %}
<li data-index="rs-36-{{ forloop.index }}" data-transition="slidingoverlayvertical,slidingoverlayhorizontal,slidingoverlayleft,slidingoverlayright,slidingoverlayup,slidingoverlaydown" data-slotamount="default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default" data-easeout="default,default,default,default,default,default" data-masterspeed="700,default,default,default,default,default"  data-thumb="{% if block.settings.slider_thubnail != blank %}{{ block.settings.slider_thubnail | img_url: '100x50', crop: 'center' }} {% else %} https://via.placeholder.com/100x50 {% endif %}"  data-rotate="0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{{ img_loader }}"  alt=""  data-lazyload="{% if block.settings.slider_thubnail != blank %}{{ block.settings.slider_thubnail | img_url: 'master' }} {% else %} https://via.placeholder.com/1799x620 {% endif %}" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
  <!-- LAYERS -->

  <!-- LAYER NR. 1 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-36-layer-13" 
       data-x="['left','center','left','left']" data-hoffset="['200','-400','68','46']" 
       data-y="['middle','top','top','top']" data-voffset="['43','281','407','310']" 
       data-fontsize="['14','24','24','20']"
       data-lineheight="['24','36','36','36']"
       data-fontweight="['500','600','600','600']"
       data-color="['{{ block.settings.slider_slide_count_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-letterspacing="['1','5','5','5']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":710,"speed":1790,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 500; color: {{ block.settings.slider_slide_count_color }}; letter-spacing: 1px;font-family:Work Sans;">{{ block.settings.slider_count_number }}</div>

  <!-- LAYER NR. 2 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-36-layer-3" 
       data-x="['left','center','center','left']" data-hoffset="['200','-215','-108','42']" 
       data-y="['top','middle','middle','top']" data-voffset="['398','14','41','365']" 
       data-fontsize="['56','56','56','40']"
       data-lineheight="['72','60','60','60']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":720,"speed":1750,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"
       
        style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 300; color: {{ block.settings.slide_title1_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ block.settings.layer_caption_title1 }} <br></div>


  <!-- LAYER NR. 3 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-36-layer-23" 
       data-x="['left','left','left','left']" data-hoffset="['1548','90','-188','-188']" 
       data-y="['top','top','top','top']" data-voffset="['490','623','681','681']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1580,"speed":1920,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_active_color }}; letter-spacing: 0px;font-family:Work Sans;"> {{ forloop.index }} </div>

  <!-- LAYER NR. 4 -->
  <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
       id="slide-36-layer-24" 
       data-x="['left','left','left','left']" data-hoffset="['1590','139','-280','-280']" 
       data-y="['top','top','top','top']" data-voffset="['518','649','638','638']" 
       data-width="80"
       data-height="2"
       data-whitespace="nowrap"

       data-type="shape" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1210,"speed":1700,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 8;background: {{ block.settings.divider_color | color_modify: 'alpha', block.settings.divider_color_opacity }};"> </div>

  <!-- LAYER NR. 5 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-36-layer-22" 
       data-x="['left','left','left','left']" data-hoffset="['1691','244','-157','-157']" 
       data-y="['top','top','top','top']" data-voffset="['490','620','686','686']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":730,"speed":1630,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 9; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_prev_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.length }} </div>
</li>
<!-- SLIDE  -->
{% when 'slide2' %}
<li data-index="rs-37-{{ forloop.index }}" data-transition="slidingoverlayvertical,slidingoverlayhorizontal,slidingoverlayleft,slidingoverlayright,slidingoverlayup,slidingoverlaydown" data-slotamount="default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default" data-easeout="default,default,default,default,default,default" data-masterspeed="700,default,default,default,default,default"  data-thumb="{% if block.settings.slider_thubnail != blank %}{{ block.settings.slider_thubnail | img_url: '100x50', crop: 'center' }} {% else %} https://via.placeholder.com/100x50 {% endif %}"  data-rotate="0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{{ img_loader }}"  alt=""  data-lazyload="{% if block.settings.slider_thubnail != blank %}{{ block.settings.slider_thubnail | img_url: 'master' }} {% else %} https://via.placeholder.com/1799x620 {% endif %}" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
  <!-- LAYERS -->

  <!-- LAYER NR. 6 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-37-layer-13" 
       data-x="['left','center','left','left']" data-hoffset="['200','-400','85','44']" 
       data-y="['middle','top','top','top']" data-voffset="['43','281','147','149']" 
       data-fontsize="['14','24','24','20']"
       data-lineheight="['24','36','36','36']"
       data-fontweight="['500','600','600','600']"
       data-color="['{{ block.settings.slider_slide_count_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-letterspacing="['1','5','5','5']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":710,"speed":1790,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 500; color: {{ block.settings.slider_slide_count_color }}; letter-spacing: 1px;font-family:Work Sans;">{{ block.settings.slider_count_number }}</div>

  <!-- LAYER NR. 7 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-37-layer-3" 
       data-x="['left','center','center','left']" data-hoffset="['200','-215','-87','43']" 
       data-y="['top','middle','middle','top']" data-voffset="['398','14','-206','187']" 
       data-fontsize="['56','56','56','40']"
       data-lineheight="['72','60','60','60']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":720,"speed":1750,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"
       
       style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 300; color: {{ block.settings.slide_title1_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ block.settings.layer_caption_title1 }} <br></div>

  <!-- LAYER NR. 8 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-37-layer-23" 
       data-x="['left','left','left','left']" data-hoffset="['1542','90','-188','-188']" 
       data-y="['top','top','top','top']" data-voffset="['490','623','681','681']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1580,"speed":1920,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_active_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.index }} </div>

  <!-- LAYER NR. 9 -->
  <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
       id="slide-37-layer-24" 
       data-x="['left','left','left','left']" data-hoffset="['1590','139','-280','-280']" 
       data-y="['top','top','top','top']" data-voffset="['518','649','638','638']" 
       data-width="80"
       data-height="2"
       data-whitespace="nowrap"

       data-type="shape" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1210,"speed":1700,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 8;background: {{ block.settings.divider_color | color_modify: 'alpha', block.settings.divider_color_opacity }}"> </div>

  <!-- LAYER NR. 10 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-37-layer-22" 
       data-x="['left','left','left','left']" data-hoffset="['1691','244','-157','-157']" 
       data-y="['top','top','top','top']" data-voffset="['490','620','686','686']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":730,"speed":1630,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 9; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_prev_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.length }} </div>
</li>
<!-- SLIDE  -->
{% when 'slide3' %}
<li data-index="rs-38-{{ forloop.index }}" data-transition="scaledownfromright,scaledownfromleft,scaledownfromtop,scaledownfrombottom,zoomout,zoomin,slotzoom-horizontal,slotzoom-vertical" data-slotamount="default,default,default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default,default,default" data-easeout="default,default,default,default,default,default,default,default" data-masterspeed="700,default,default,default,default,default,default,default"  data-thumb="{% if block.settings.slider_thubnail != blank %}{{ block.settings.slider_thubnail | img_url: '100x50', crop: 'center' }} {% else %} https://via.placeholder.com/100x50 {% endif %}"  data-rotate="0,0,0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{{ img_loader }}"  alt=""  data-lazyload="{% if block.settings.slider_thubnail != blank %}{{ block.settings.slider_thubnail | img_url: 'master' }} {% else %} https://via.placeholder.com/1799x620 {% endif %}" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
  <!-- LAYERS -->

  <!-- LAYER NR. 11 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-38-layer-13" 
       data-x="['left','center','left','left']" data-hoffset="['200','-388','79','48']" 
       data-y="['middle','top','top','top']" data-voffset="['10','148','193','189']" 
       data-fontsize="['14','24','24','20']"
       data-lineheight="['24','36','36','36']"
       data-fontweight="['500','600','600','600']"
       data-color="['{{ block.settings.slider_slide_count_color }}','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
       data-letterspacing="['1','5','5','5']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":710,"speed":1790,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 500; color: {{ block.settings.slider_slide_count_color }}; letter-spacing: 1px;font-family:Work Sans;">{{ block.settings.slider_count_number }}</div>

  <!-- LAYER NR. 12 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-38-layer-3" 
       data-x="['left','center','center','left']" data-hoffset="['200','-197','-98','45']" 
       data-y="['top','middle','middle','top']" data-voffset="['354','-109','-164','238']" 
       data-fontsize="['56','56','56','40']"
       data-lineheight="['72','60','60','60']"
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":720,"speed":1750,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 300; color: {{ block.settings.slide_title1_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ block.settings.layer_caption_title1 }} <br></div>

  <!-- LAYER NR. 13 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-38-layer-23" 
       data-x="['left','left','left','left']" data-hoffset="['1542','784','-188','-188']" 
       data-y="['top','top','top','top']" data-voffset="['490','623','681','681']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1580,"speed":1920,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_active_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.index }} </div>

  <!-- LAYER NR. 14 -->
  <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
       id="slide-38-layer-24" 
       data-x="['left','left','left','left']" data-hoffset="['1590','838','-280','-280']" 
       data-y="['top','top','top','top']" data-voffset="['518','650','638','638']" 
       data-width="80"
       data-height="2"
       data-whitespace="nowrap"

       data-type="shape" 
       data-responsive_offset="on" 

       data-frames='[{"delay":1210,"speed":1700,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 8; background: {{ block.settings.divider_color | color_modify: 'alpha', block.settings.divider_color_opacity }};"> </div>

  <!-- LAYER NR. 15 -->
  <div class="tp-caption   tp-resizeme" 
       id="slide-38-layer-22" 
       data-x="['left','left','left','left']" data-hoffset="['1691','948','-157','-157']" 
       data-y="['top','top','top','top']" data-voffset="['490','622','686','686']" 
       data-width="none"
       data-height="none"
       data-whitespace="nowrap"

       data-type="text" 
       data-responsive_offset="on" 

       data-frames='[{"delay":730,"speed":1630,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
       data-textAlign="['inherit','inherit','inherit','inherit']"
       data-paddingtop="[0,0,0,0]"
       data-paddingright="[0,0,0,0]"
       data-paddingbottom="[0,0,0,0]"
       data-paddingleft="[0,0,0,0]"

       style="z-index: 9; white-space: nowrap; font-size: 48px; line-height: 56px; font-weight: 400; color: {{ block.settings.pgainate_prev_color }}; letter-spacing: 0px;font-family:Work Sans;">{{ forloop.length }} </div>
</li>
{% when 'video_slide' %}
<li id="block-{{ block.id }}" data-index="rs-5-{{ forloop.index }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/100x50_96536-404-bg.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
  <!-- MAIN IMAGE -->
  <img src="{%- if block.settings.video_thumbnail != blank -%} {{ block.settings.video_thumbnail | img_url: 'master' }} {%- else -%} https://cdn.shopify.com/s/files/1/0159/0355/5638/files/video_thumb_9162ac84-91a1-4ebb-9f7f-bb07ce98e38c.png?4756{%- endif -%}"  alt=""  data-bgposition="center center" data-bgfit="cover" class="rev-slidebg" data-no-retina>
  <div class="rs-background-video-layer" 
       data-forcerewind="on" 
       data-volume="{%- if block.settings.video_mute == "on" -%}mute{%- elsif block.settings.video_mute == "off" -%}{{ block.settings.video_volume }}{%- endif -%}" 
       data-ytid="{{ block.settings.yotube_video_id }}" 
       data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;rel=0;" 
       data-videorate="1" 
       data-videowidth="100%" 
       data-videoheight="100%" 
       data-videocontrols="none" 
       data-videoloop="{%- if block.settings.video_loop == "on" -%}loop {%- elsif block.settings.video_loop == "off" -%}none{%- endif -%}" 
       data-forceCover="1" 
       data-aspectratio="16:9" 
       data-autoplay="true" 
       data-autoplayonlyfirsttime="false" 
       ></div>
</li>
{% endcase %}
{% endfor %}