{% capture html %}
<div class="search-overlay" id="search-overlay">
  <span class="close-icon search-close-icon">
    <a href="javascript:void(0)"  id="search-close-icon">
      <i class="ti-close"></i>
    </a>
  </span>
  <div class="search-overlay-content">
    <div class="input-box">
      <form action="{{ routes.search_url }}" method="get" class="input-group search-bar" role="search">
        {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
        <input class="input__search" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
         <button type="submit">
            <i class="ion-ios-search-strong"></i>
          </button>
      </form>
    </div>
  </div>
</div>
{% comment %}
<form action="/search" method="get" class="input-group search-bar" role="search">
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
  <span class="input-group-btn">
    <button type="submit" class="btn icon-fallback-text">
      <span class="icon icon-search" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
  </span>
</form>

{% endcomment %}
{% endcapture %}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}