<!DOCTYPE html>
<html>

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  
  <!-- Remove this link -->
  <!-- Link all your CSS files below -->
  {%- render 'header-css' with content_for_layout as content_for_layout -%}
  {%- render 'theme-settings-inline-css' with body_font: body_font, header_font: header_font, paragraph_font: paragraph_font  -%}
  
  {{ 'password-plugin.css' | asset_url | stylesheet_tag }}
  {{ 'password-style.css' | asset_url | stylesheet_tag }}
  {{ 'password-responsive.css' | asset_url | stylesheet_tag }}
  
   {{ content_for_header }}
  
  <!-- JS -->
  {%- render 'header-js' with content_for_layout as content_for_layout -%}
</head>
<body>
  
  {{ content_for_layout }}

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>
  

  <!-- Necessary JS -->
  {%- render 'footer-js' with content_for_layout as content_for_layout -%}
  
  <!-- Your main.js file upload this file -->
  <script src="{{ 'password-plugin.js' | asset_url }}"></script>
  <script src="{{ 'password-theme.js' | asset_url }}"></script>

  </body>
</html>
