{%- capture html -%}
<div class="mt-100 mt-md-80 mt-sm-80 mb-100 mb-md-80 mb-sm-80" id="section-{{ section.id }}" data-section="BannerSection">

  {%- if section.settings.section_title_enable -%}
  <div class="section-title-container section-title-container--instagram mb-80  mb-md-60 mb-sm-60">
    <div class="container wide">
      <div class="row">

        <div class="col-xl-3 d-none d-xl-block">
          {% if section.settings.collection_trend_name != blank %}
          <div class="section-title__label section-title__label-style2 section-title__label--left section-title__label-style2--left">
            <p>{{ section.settings.collection_trend_name }} <span class="line">{{ section.settings.collection_trend_count }}</span></p>
          </div>
          {% endif %}
        </div>

        <div class="col-xl-6 col-lg-10 offset-lg-1 offset-xl-0">
          <!--=======  section title  =======-->
          <div class="section-title text-center">
            {% if section.settings.section_title != blank %}
            <h1>{{ section.settings.section_title }}</h1>
            {% endif %}

            {% if section.settings.section_title_desc != blank %}
            <p>{{ section.settings.section_title_desc }}</p>
            {% endif %}

          </div>

          <!--=======  End of section title  =======-->
        </div>

        <div class="col-xl-3 d-none d-xl-block text-right">
          {% if section.settings.collection_banner_subtitle != blank %}
          <div class="section-title__label  section-title__label-style2 section-title__label--right section-title__label-style2--right">
            <p>{{ section.settings.collection_banner_subtitle }}</p>
          </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  {%- endif -%}


  <div class="home-content--accessories ">
    <div class="container">
      <div class="row align-items-center">
        {% for block in section.blocks %}
        
        {%- case block.type -%}
        {% when 'banner_type' %}
        <div id="block-{{ block.id }}" class="col-lg-{{ block.settings.lg_col }} offset-lg-{{ block.settings.lg_offset }} col-md-{{ block.settings.md_col }} offset-md-{{ block.settings.md_offset }} mb-100">
          <div class="accessories-single-category wow zoomIn">
            <a class="banner-hover" href="{{ block.settings.banner_url }}"></a>
            <span class="number"> {% if forloop.index <= 9 %} 0{{ forloop.index }} {% else %} {{ forloop.index }} {% endif %}/</span>
            
            {%- if block.settings.banner_img != blank -%}
            {%- render 'lazyload_image_src',
                	  image: block.settings.banner_img,
            		  size: 'master' -%}
            {%- else -%}
            {%- render 'svg_placholder', param: 'image', size: '430x610' -%}
            {%- endif -%}
            
            <div class="accessories-single-category__content">
              {% if block.settings.banner_title != blank %}
              <p class="name">{{ block.settings.banner_title }}</p>
              {% endif %}
              <p class="price"><span class="main-price discounted">{{ block.settings.old_price }}</span> <span class="discounted-price">{{ block.settings.current_price }}</span></p>
            </div>
          </div>
          <style>
            #block-{{ block.id }} .accessories-single-category span.number, #block-{{ block.id }}  .accessories-single-category__content p.name, #block-{{ block.id }} .accessories-single-category__content p.price {
              color: {{ block.settings.banner_content_color }};
            }

            #block-{{ block.id }} .accessories-single-category__content p.price .discounted {
              color: {{ block.settings.banner_old_price_color }};
            } 
          </style>
        </div>
        {%- endcase -%}
        {%- endfor -%}


        {% if section.settings.banner_collection_btn %}
        <div class="col-lg-12">
          <div class="shop-button text-center">
            <a class="phoone-button phoone-button--medium phoone-button--icon--left" href="{{ section.settings.banner_btn_link }}"> <i class="icon-left ion-plus"></i> {{ section.settings.banner_btn_text }} </a>
          </div>
        </div>
        {% endif %}


      </div>
    </div>
  </div>

</div>

{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}
{% render 'section_typography' %}

{% schema %}
  {
    "name": "Banner Masonry Style",
    "settings": [
		{
          "type": "header",
          "content": "Section Title"
        },
		{
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Section Title Enable",
		  "default": true
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Best selling products"
        },
		{
          "type": "textarea",
          "id": "section_title_desc",
          "label": "Section Description",
          "default": "Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo estibulum issim"
        },
		{
          "type": "header",
          "content": "Section Left Title"
        },
		{
          "type": "text",
          "id": "collection_trend_name",
          "label": "Collection Trend Name",
          "default": "SS-2018"
        },
		{
          "type": "text",
          "id": "collection_trend_count",
          "label": "Collection Trend Count",
          "default": "84"
        },
		{
          "type": "header",
          "content": "Section Right Title"
        },
		{
          "type": "textarea",
          "id": "collection_banner_subtitle",
          "label": "Collection Banner Subtitle",
          "default": "BASIC <br> MINIMALISM"
        },
		{
          "type": "header",
          "content": "Banner Button"
        },
		{
          "type": "checkbox",
          "id": "banner_collection_btn",
          "label": "Banner Collection Button",
		  "default": true
        },
		{
          "type": "text",
          "id": "banner_btn_text",
          "label": "Banner Button text",
		  "default": " Online store"
        },
        {
          "type": "url",
          "id": "banner_btn_link",
          "label": "Banner Button Link"
        }
	],
	"blocks": [
		{
        "type": "banner_type",
        "name": "Banner Type",
        "settings": [
            {
              "type": "image_picker",
              "id": "banner_img",
              "label": "Banner Image",
              "info": "Recommended Size: 430 x 610 px"
            },
			{
              "type": "text",
              "id": "banner_title",
              "label": "Banner Title",
              "default": "Minimal Design"
            },	
			{
              "type": "text",
              "id": "current_price",
              "label": "Banner Current Price",
              "default": "$84"
            },
			{
              "type": "text",
              "id": "old_price",
              "label": "Banner Old Price",
              "default": "$95"
            },	
			{
              "type": "url",
              "id": "banner_url",
              "label": "Banner Url"
            },
			{
                "type": "select",
                "id": "lg_col",
                "label": "Medium/Desktop Device Column",
                "options":[
                      {
                          "label": "Gird 12",
                          "value": "12"
                      },
					  {
                          "label": "Gird 11",
                          "value": "11"
                      },
                      {
                          "label": "Gird 10",
                          "value": "10"
                      },
					  {
                          "label": "Gird 9",
                          "value": "9"
                      },
                      {
                          "label": "Gird 8",
                          "value": "8"
                      },
					  {
                          "label": "Gird 7",
                          "value": "7"
                      },
					  {
                          "label": "Gird 6",
                          "value": "6"
                      },
					  {
                          "label": "Gird 5",
                          "value": "5"
                      },
					  {
                          "label": "Gird 4",
                          "value": "4"
                      },
					  {
                          "label": "Gird 3",
                          "value": "3"
                      },
					  {
                          "label": "Gird 2",
                          "value": "2"
                      }
                  ],
                  "default": "5"
              },
			  {
                "type": "select",
                "id": "lg_offset",
                "label": "Medium/Desktop Device Offset Column",
                "options":[
                      {
                          "label": "Offset 12",
                          "value": "12"
                      },
					  {
                          "label": "Offset 11",
                          "value": "11"
                      },
                      {
                          "label": "Offset 10",
                          "value": "10"
                      },
					  {
                          "label": "Offset 9",
                          "value": "9"
                      },
                      {
                          "label": "Offset 8",
                          "value": "8"
                      },
					  {
                          "label": "Offset 7",
                          "value": "7"
                      },
					  {
                          "label": "Offset 6",
                          "value": "6"
                      },
					  {
                          "label": "Offset 5",
                          "value": "5"
                      },
					  {
                          "label": "Offset 4",
                          "value": "4"
                      },
					  {
                          "label": "Offset 3",
                          "value": "3"
                      },
					  {
                          "label": "Offset 2",
                          "value": "2"
                      },
					  {
                          "label": "Offset 1",
                          "value": "1"
                      },
					  {
                          "label": "Offset 0",
                          "value": "0"
                      }
                  ],
                  "default": "1"
              },
			  {
                "type": "select",
                "id": "md_col",
                "label": "Normal Desktop Column",
                "options":[
                      {
                          "label": "Gird 12",
                          "value": "12"
                      },
					  {
                          "label": "Gird 11",
                          "value": "11"
                      },
                      {
                          "label": "Gird 10",
                          "value": "10"
                      },
					  {
                          "label": "Gird 9",
                          "value": "9"
                      },
                      {
                          "label": "Gird 8",
                          "value": "8"
                      },
					  {
                          "label": "Gird 7",
                          "value": "7"
                      },
					  {
                          "label": "Gird 6",
                          "value": "6"
                      },
					  {
                          "label": "Gird 5",
                          "value": "5"
                      },
					  {
                          "label": "Gird 4",
                          "value": "4"
                      },
					  {
                          "label": "Gird 3",
                          "value": "3"
                      },
					  {
                          "label": "Gird 2",
                          "value": "2"
                      }
                  ],
                  "default": "10"
              },
			  {
                "type": "select",
                "id": "md_offset",
                "label": "Normal Desktop Offset Column",
                "options":[
                      {
                          "label": "Offset 12",
                          "value": "12"
                      },
					  {
                          "label": "Offset 11",
                          "value": "11"
                      },
                      {
                          "label": "Offset 10",
                          "value": "10"
                      },
					  {
                          "label": "Offset 9",
                          "value": "9"
                      },
                      {
                          "label": "Offset 8",
                          "value": "8"
                      },
					  {
                          "label": "Offset 7",
                          "value": "7"
                      },
					  {
                          "label": "Offset 6",
                          "value": "6"
                      },
					  {
                          "label": "Offset 5",
                          "value": "5"
                      },
					  {
                          "label": "Offset 4",
                          "value": "4"
                      },
					  {
                          "label": "Offset 3",
                          "value": "3"
                      },
					  {
                          "label": "Offset 2",
                          "value": "2"
                      },
					  {
                          "label": "Offset 1",
                          "value": "1"
                      },
					  {
                          "label": "Offset 0",
                          "value": "0"
                      }
                  ],
                  "default": "2"
              },
			  {
                "type": "header",
                "content": "Banner Content Color"
              },
              {
                "type": "color",
                "id": "banner_content_color",
                "label": "Banner Content Color",
                "default": "#333333"	
              },
              {
                "type": "color",
                "id": "banner_old_price_color",
                "label": "Banner Old Pirce Color",
				 "default": "#9b9b9b"	
              }
            
          ]
        },
		{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Banner Masonry Style",
		  "category": "4. Banner",
		  "blocks": [
                {
                	"type": "banner_type"
                },
				{
                	"type": "banner_type"
                },
				{
                	"type": "banner_type"
                }
			]
		}
	]
  }
{% endschema %}