{%- capture html -%}
{% if section.settings.banner_style == "grid_mode" %}
{% render 'banner_section_header' %}
<div class="banner-category-area mb-70 mb-md-50 mb-sm-50" data-section="BannerSection" id="section-{{ section.id }}"> 
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">
      {% for block in section.blocks %}
      
      {%- case block.type -%}
      {% when 'banner_with_price' %}
      <div id="block-{{ block.id }}" class="col-lg-{{ block.settings.lg_banner_col }} col-md-{{ block.settings.md_banner_col }} col-12 mb-30">
		<div class="single-banner single-banner--hoverzoom">
          <a href="{{ block.settings.banner_url  }}">
            {%- if block.settings.banner_img != blank  -%}            
              {%- render 'lazyload_image_src',
                	  image: block.settings.banner_img,
                      size: 'master' -%}
            {%- else -%}
            {%- render 'svg_placholder' with param: 'image', size: '375x450' -%}
            {%- endif -%}
             
            <span class="banner-content banner-content--product-type">
              <span class="name">{{ block.settings.banner_title }}</span>
              <span class="price">{{ block.settings.banner_price }}</span>
            </span>
          </a>
        </div>
        
        <style>
          #block-{{ block.id }} .single-banner--hoverzoom > a .banner-content--product-type .name {
            color: {{ block.settings.banner_content_color }};
          }
          #block-{{ block.id }} .single-banner--hoverzoom > a .banner-content--product-type .price {
            color: {{ block.settings.banner_content_color }};
          }
          
        </style>
      </div>
      {% when 'banner_with_content' %}
      <div id="block-{{ block.id }}" class="col-lg-{{ block.settings.lg_banner_col }} col-md-{{ block.settings.md_banner_col }} mb-30">
        <!--=======  hover zoom banner  =======-->

        <div class="single-banner single-banner--hoverzoom">
          <a href="{{ block.settings.banner_url  }}">
            {%- if block.settings.banner_img != blank  -%}            
              {%- render 'lazyload_image_src',
                	  image: block.settings.banner_img,
                      size: 'master' -%}
            {%- else -%}
            {%- render 'svg_placholder' with param: 'image', size: '775x446' -%}
            {%- endif -%}
           
            <span class="banner-content banner-content--banner-type banner-content--banner-type--top-right">
              
              {% if block.settings.banner_title != blank %}
              <span class="name">{{ block.settings.banner_title }}</span>
              {% endif %}
              
              {% if block.settings.banner_button_text != blank %}
              <span class="phoone-button-link">{{ block.settings.banner_button_text }}</span>
              {% endif %}
              
            </span>
          </a>
        </div>

        <style>
          #block-{{ block.id }} .single-banner--hoverzoom > a .banner-content--banner-type .name {
            color: {{ block.settings.title_color }}
          }
          #block-{{ block.id }} .single-banner--hoverzoom > a .banner-content--banner-type .phoone-button-link {
            border-color: {{ block.settings.button_color }};
            color: {{ block.settings.button_color }};
          }
          #block-{{ block.id }}  .single-banner--hoverzoom > a .banner-content--banner-type .phoone-button-link::after {
            background-color: {{ block.settings.button_color }};
          }

          #block-{{ block.id }} .single-banner--hoverzoom > a .banner-content--banner-type .phoone-button-link:hover {
            color: {{ block.settings.button_hover_color }};
          }
          #block-{{ block.id }} .single-banner--hoverzoom > a .banner-content--banner-type .phoone-button-link:hover::after {
            background-color: {{ block.settings.button_hover_color }};
          }
        </style>
      </div>
      {% endcase %}
      {% endfor %}

    </div>
  </div>
</div>
{% elsif section.settings.banner_style == "horizontal_mode" %}
<div class="hover-banner-area mb-65 mb-md-45 mb-sm-45" data-section="BannerSection" id="section-{{ section.id }}">
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">
      
      {% for block in section.blocks %}
      
      {%- case block.type -%}
      {% when 'banner_with_content' %}
      <div id="block-{{ block.id }}" class="col-lg-{{ block.settings.lg_banner_col }} col-md-{{ block.settings.md_banner_col }} mb-30">
        <!--=======  single category  =======-->

        <div class="single-category single-category--three">
          
          <div class="single-category__image single-category__image--three single-category__image--three--creativehome single-category__image--three--banner">
            {%- if block.settings.banner_img != blank  -%}
            <a href="{{ block.settings.banner_url  }}" >
              {%- render 'lazyload_image_src',
                	  image: block.settings.banner_img,
                      size: 'master' -%}
            </a>
            {%- else -%}
            {%- render 'svg_placholder' with param: 'image', size: '560x320' -%}
            {%- endif -%}
          </div>

          <div class="single-category__content single-category__content--three single-category__content--three--creativehome  single-category__content--three--banner mt-25 mb-25">
            <div class="title">
               {% if block.settings.banner_title != blank %}
              <p><a href="{{ block.settings.banner_url  }}"> {{ block.settings.banner_title }}</a></p>
              {% endif %}
              {% if block.settings.banner_button_text != blank %}
              	<a href="{{ block.settings.banner_url  }}">{{ block.settings.banner_button_text }}</a>
              {% endif %}
              
            </div>
          </div>
        </div>

        <style>
          #block-{{ block.id }} .single-category__content--three--creativehome .title p > a {
            color: {{ block.settings.title_color }}
          }
          #block-{{ block.id }} .single-category__content--three--banner .title > a {
            border-color: {{ block.settings.button_color }};
            color: {{ block.settings.button_color }};
          }
          #block-{{ block.id }} .single-category__content--three--banner .title > a:hover {
            color: {{ block.settings.button_hover_color }};
            border-color: {{ block.settings.button_hover_color }};
          }
          
        </style>
        
      </div>
       {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>
{% render 'banner_section_header' %}
{% endif %}
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}


{% render 'section_typography' %}

{% schema %}
  {
    "name": "Grid Banner With Text",
    "settings": [
		{
          "type":  "radio",
          "id":    "container_width",
          "label": "Container Width",
          "options": [
            { "value": "container", "label": "Container" },
            { "value": "fluid", "label": "Full Width" }
          ],
          "default":   "container"
        },
		{
          "type": "header",
          "content": "Banner Type"
        },
		{
          "type":  "radio",
          "id":    "banner_style",
          "label": "Container Width",
          "options": [
            { "value": "grid_mode", "label": "Grid" },
            { "value": "horizontal_mode", "label": "Horizontal" }
          ],
          "default":   "grid_mode"
        },
		{
          "type": "header",
          "content": "Banner Collection Header"
        },
		 {
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Banner Section Header",
          "default": true
        },
		{
          "type": "textarea",
          "id": "collection_section_description",
          "label": "Section Short Info",
          "default": "NNOVATIVE <br> DESIGN"
        },
		{
          "type": "text",
          "id": "collection_section_subtitle",
          "label": "Collection Section SubTitle",
          "default": "SS-2018"
        },
		{
          "type": "text",
          "id": "collection_count",
          "label": "Banner All Collection Count",
          "default": "84"
        },
       
		{
          "type": "text",
          "id": "collection_section_title",
          "label": "Collection Section Title",
          "default": "Clever & unique ideas"
        }
		
		
	],
	"blocks":[
	   {
          "type": "banner_with_price",
          "name": "Banner With Price",
		   "settings": [
            {
              "type": "image_picker",
              "id": "banner_img",
              "label": "Image",
              "info": "Recommended Size: 375 x 450 px"
              },
              {
                "type": "textarea",
                "id": "banner_title",
                "label": "Banner Title",
                "default": "Tumbler Alarm Clock"
              },
              {
                  "type": "text",
                  "id": "banner_price",
                  "label": "Banner Price",
                  "default": "$19.00"
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              },
			  {
                "type": "select",
                "id": "lg_banner_col",
                "label": "Desktop",
                "options":[
                      {
                          "label": "Gird 12",
                          "value": "12"
                      },
					  {
                          "label": "Gird 11",
                          "value": "11"
                      },  
					  {
                          "label": "Gird 10",
                          "value": "10"
                      },  	
					  {
                          "label": "Gird 9",
                          "value": "9"
                      },				
                      {
                          "label": "Gird 8",
                          "value": "8"
                      },
				      {
                          "label": "Gird 7",
                          "value": "7"
                      },
				      {
                          "label": "Gird 6",
                          "value": "6"
                      },
					  {
                          "label": "Grid 5",
                          "value": "5"
                      },
                      {
                          "label": "Grid 4",
                          "value": "4"
                      }, 
                      {
                          "label": "Gird 3",
                          "value": "3"
                      },
					  {
                          "label": "Gird 2",
                          "value": "2"
                      }
                  ],
                  "default": "4"
              },
              {
                "type": "select",
                "id": "md_banner_col",
                "label": "Tablet",
                "options":[
                      {
                          "label": "Gird 12",
                          "value": "12"
                      },
					  {
                          "label": "Gird 11",
                          "value": "11"
                      },  
					  {
                          "label": "Gird 10",
                          "value": "10"
                      },  	
					  {
                          "label": "Gird 9",
                          "value": "9"
                      },				
                      {
                          "label": "Gird 8",
                          "value": "8"
                      },
				      {
                          "label": "Gird 7",
                          "value": "7"
                      },
				      {
                          "label": "Gird 6",
                          "value": "6"
                      },
					  {
                          "label": "Grid 5",
                          "value": "5"
                      },
                      {
                          "label": "Grid 4",
                          "value": "4"
                      }, 
                      {
                          "label": "Gird 3",
                          "value": "3"
                      },
					  {
                          "label": "Gird 2",
                          "value": "2"
                      }
                  ],
                  "default": "4"
              },
			  {
                "type": "header",
                "content": "Content Color Options"
              },
			  {
                "type": "color",
                "id": "banner_content_color",
                "label": "Banner Content Color",
                "default": "#333"
              }
          ]
       },
	   {
          "type": "banner_with_content",
          "name": "Banner With Content",
		   "settings": [
            {
              "type": "image_picker",
              "id": "banner_img",
              "label": "Image",
              "info": "Recommended Size: 775 x 446 px"
              },
              {
                "type": "textarea",
                "id": "banner_title",
                "label": "Banner Title",
                "default": "Prismatic <br> Table"
              },
              {
                  "type": "text",
                  "id": "banner_button_text",
                  "label": "Banner Button",
                  "default": "Shop Now"
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              },
			  {
                "type": "select",
                "id": "lg_banner_col",
                "label": "Desktop",
                "options":[
					  {
                          "label": "Gird 12",
                          "value": "12"
                      },
					  {
                          "label": "Gird 11",
                          "value": "11"
                      },  
					  {
                          "label": "Gird 10",
                          "value": "10"
                      },  	
					  {
                          "label": "Gird 9",
                          "value": "9"
                      },				
                      {
                          "label": "Gird 8",
                          "value": "8"
                      },
				      {
                          "label": "Gird 7",
                          "value": "7"
                      },
				      {
                          "label": "Gird 6",
                          "value": "6"
                      },
					  {
                          "label": "Grid 5",
                          "value": "5"
                      },
                      {
                          "label": "Grid 4",
                          "value": "4"
                      }, 
                      {
                          "label": "Gird 3",
                          "value": "3"
                      },
					  {
                          "label": "Gird 2",
                          "value": "2"
                      }
                  ],
                  "default": "8"
              },
              {
                "type": "select",
                "id": "md_banner_col",
                "label": "Tablet",
                "options":[
                      {
                          "label": "Gird 12",
                          "value": "12"
                      },
					  {
                          "label": "Gird 11",
                          "value": "11"
                      },  
					  {
                          "label": "Gird 10",
                          "value": "10"
                      },  	
					  {
                          "label": "Gird 9",
                          "value": "9"
                      },				
                      {
                          "label": "Gird 8",
                          "value": "8"
                      },
				      {
                          "label": "Gird 7",
                          "value": "7"
                      },
				      {
                          "label": "Gird 6",
                          "value": "6"
                      },
					  {
                          "label": "Grid 5",
                          "value": "5"
                      },
                      {
                          "label": "Grid 4",
                          "value": "4"
                      }, 
                      {
                          "label": "Gird 3",
                          "value": "3"
                      },
					  {
                          "label": "Gird 2",
                          "value": "2"
                      }
                  ],
                  "default": "8"
              },
			  {
                "type": "header",
                "content": "Content Color Options"
              },
			  {
                "type": "color",
                "id": "title_color",
                "label": "Banner Title Color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "button_color",
                "label": "Button Color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "button_hover_color",
                "label": "Button Hover Color",
                "default": "#d3122a"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
		
	],
	"presets": [
		{
		  "name": "Banner With Text Grid & Horizontal",
		  "category": "4. Banner",
		  "blocks": [
			{
				"type": "banner_with_price"
			},
			{
				"type": "banner_with_content"
			},
			{
				"type": "banner_with_content"
			},
			{
				"type": "banner_with_price"
			}
		   ]
		}
	]
  }
{% endschema %}
