{%- capture html -%}
{% if section.settings.section_enable %}
<div id="section-{{ section.id }}" data-section="BrandLogos">
{% if section.settings.section_title_enable %}
<div class="section-title-container mb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">

        {% if section.settings.section_title != blank %}
        <div class="section-title section-title--one text-center">
          <h1>{{ section.settings.section_title }}</h1>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="brand-logo-area mb-90 mb-sm-70 slick-carousel-js">
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">
      
      {% capture data_slick_activation %}
        data-slick='{
        "slidesToShow": {{ section.settings.slide_items_show }},
        "slidesToScroll": 1,
        "arrows": false,
        {% if settings.rtl_enable %}                
        "rtl": true,
        {% endif %}
        "autoplay": {{ section.settings.autoplay_true }},
        "autoplaySpeed": 5000,
        "speed": 1000,
        "responsive":[
          {"breakpoint":1501, "settings": {"slidesToShow": {{ section.settings.slide_items_show }}} },
          {"breakpoint":1199, "settings": {"slidesToShow": {{ section.settings.items_more_than_1200 }}} },
          {"breakpoint":991, "settings": {"slidesToShow": {{ section.settings.items_more_than_992 }}, "arrows": false} },
          {"breakpoint":767, "settings": {"slidesToShow": {{ section.settings.items_more_than_768 }}, "arrows": false} },
          {"breakpoint":575, "settings": {"slidesToShow": {{ section.settings.items_more_than_480 }}, "arrows": false} },
          {"breakpoint":479, "settings": {"slidesToShow": {{ section.settings.items_more_than_320 }}, "arrows": false} }
        ]}'
      
      {% endcapture %}

      <div class="col-12">

        <div class="BrandSlider" {{ data_slick_activation }}>
          {% for block in section.blocks %}
          {%- case block.type -%}
          {% when 'single_brand' %}
          <div class="col">
            <div class="single-brand">
              <a href="{{ block.settings.brand_link }}">
                {%- if block.settings.brand_img != blank -%}
                	{%- render 'lazyload_image_src',
                	  image: block.settings.brand_img,
                	  size: 'master' -%}
                {%- else -%}
                {%- render 'svg_placholder', param: 'image', size: '160x65' -%}
                {%- endif -%}
			</a>
            </div>
          </div>
          {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endif %}
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}

{%- render 'section_typography' -%}
{% schema %}
  {
    "name": "Brand Carousel",
    "settings": [
		{
		  "type": "header",
          "content": "Section Enable"
        },
		{
          "type": "checkbox",
          "id": "section_enable",
          "label": "Section Enable",  
          "default": true
      	},
		{
          "type":  "radio",
          "id":    "container_width",
          "label": "Container Width",
          "options": [
            { "value": "container", "label": "Container" },
            { "value": "fluid", "label": "Full Width" }
          ],
          "default":   "fluid"
        },
		
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Section Title Enable",  
          "default": true
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Our Brands"
      	},
		{
          "type": "header",
          "content": "Slider Autoplay"
        },
		{
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
		  "default": false
        },
		{
			"type": "header",
            "content": "Brand Item Show"
        },
		{
            "type":      "range",
            "id":        "slide_items_show",
            "min":        1,
            "max":        15,
            "step":       1,
            "label":     "Large Device Number Of Item Show",
            "default":   5
        },
		{
            "type":      "range",
            "id":        "items_more_than_1200",
            "min":        1,
            "max":        15,
            "step":       1,
            "label": "More Than 1200px Number Of Item Show",
            "default":   4
        },
		{
            "type":      "range",
            "id":        "items_more_than_992",
            "min":        1,
            "max":        15,
            "step":       1,
            "label": "More Than 992px Number Of Item Show",
            "default":   3
        },
		{
            "type":      "range",
            "id":        "items_more_than_768",
            "min":        1,
            "max":        15,
            "step":       1,
            "label": "Tablet Item Show",
            "default":  2
        },
		{
            "type":      "range",
            "id":        "items_more_than_480",
            "min":        1,
            "max":        15,
            "step":       1,
            "label": "Large Mobile Item Show",
            "default":   2
        },
		{
            "type":      "range",
            "id":        "items_more_than_320",
            "min":        1,
            "max":        15,
            "step":       1,
            "label": "Small Mobile Item Show",
            "default":   1
        }
	],
	"blocks":[
	   {
          "type": "single_brand",
          "name": "Single Brand",
		   "settings": [
              {
                "type": "image_picker",
                "id": "brand_img",
                "label": "Brand Image",
                "info": "Recommended Size: 160 x 65 px"
              },
			  {
                "type": "url",
                "id": "brand_link",
                "label": "Brand Link"
              }
          ]
       },
		{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#fff"
			}
          ]
       },
		{
          "type": "testmonial_style",
          "name": "Section Content Style",
		  "limit": 1,
          "settings": [
			{
			  "type": "color",
			  "id": "testmonial_content_color",
			  "label": "Testmonial Content Color",
			  "default": "#777"
			},
			{
			  "type": "color",
			  "id": "testmonial_name_color",
			  "label": "Testmonial Name Color",
			  "default": "#333"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Brand Carousel",
		  "category": "9.2 Theme Others",
		  	"blocks":[
                {
                	"type": "single_brand"
                },
				{
                	"type": "single_brand"
                },
				{
                	"type": "single_brand"
                },
				{
                	"type": "single_brand"
                },
				{
                	"type": "single_brand"
                },
				{
                	"type": "single_brand"
                }
             ]
		}
	]
  }
{% endschema %}