{%- capture html -%}
<section class="category_menu_slider_banner mt-30 mt-sm-0 mt-md-0 {% if  section.settings.cat_menu_enable  %} catmenu_true  {% endif %}" data-section="heroOwlSlider" id="section-{{ section.id }}">
  <div class="{%- if section.settings.container_width == 'container' -%} container {%- elsif section.settings.container_width == 'fluid' -%} container wide {%- endif -%}">
    <div class="row">
  {% if section.settings.cat_menu_enable %}
      <div class="col-lg-3">
        <div class="caetgory_menu_container">
          <div class="category_menu_container_lg d-none d-lg-block">
            <div class="categories_title" id="categories_title_trigger">
              <h3>{{ section.settings.categories_title }}</h3>
            </div>
            <div class="categories_menu_inner" id="categories_menu_collapse">
              {%- render 'category_menu' -%}
            </div>
          </div> 
          
          <div class="category_menu_container_sm d-block d-lg-none mb-sm-30">
            <div class="categories_title" id="category_mobile_trigger">
              <h3>{{ section.settings.categories_title }}</h3>
            </div>
            <div class="mobile_category">
              {%- render 'mobile_category_menu' -%}
            </div>
          </div>
        </div>
      </div>
  {% endif %}
      <div class="{% if  section.settings.cat_menu_enable != true %} col-lg-9  {% endif %}  {%- if section.settings.banner_block_enable -%} col-lg-6 {%- else -%} col-lg-9 {%- endif -%}">
        <div class="slider_wrapper ct_menu_sl owl-carousel" data-owl-carousel='{
        "margin":0,
        "loop": {{ section.settings.loop_true }},
        "nav": {{ section.settings.navigation_true }},                          
        "autoplay": {{ section.settings.slider_autoplay_enable }},
        "autoplayTimeout": 5000,
        "dots": {{ section.settings.pagination_true }},
        {% if settings.rtl_enable %}
        "rtl": true, 
        {%- endif -%}                                                                        
        "items":1,
        {% if settings.rtl_enable %}
        "navText": ["{{ section.settings.prev_text | strip }}<i class=&#x27;ti-arrow-right&#x27;></i>","<i class=&#x27;ti-arrow-left&#x27;></i>{{ section.settings.next_text | strip }}"]  
        {% else %}  
        "navText": ["<i class=&#x27;ti-arrow-left&#x27;></i>{{ section.settings.prev_text | strip }}","{{ section.settings.next_text | strip }}<i class=&#x27;ti-arrow-right&#x27;></i>"]                                                                          
        {% endif %}                                                                        
       }'>
          {%- for block in section.blocks -%}
          {%- assign isset = block.settings -%}
          <div class="single_slider {% if section.settings.slider_overlay %}slide-overlay{%- endif -%}" id="block-{{ block.id }}">
            <div class="slider_thumb_bg" style="background-image: url('{% if block.settings.slider_img %}{{ block.settings.slider_img | img_url: 'master' }} {% else %} https://via.placeholder.com/1400x600{% endif %}');"></div>
            <div class="slider__content">
              {%- if isset.slide_title1 != blank -%}
              <h5>{{ isset.slide_title1 }}</h5>
              {%- endif -%}
              {%- if isset.slide_title2 != blank -%}
              <h1>{{ isset.slide_title2 }}</h1>
              {%- endif -%}
              {%- if isset.btn_text != blank -%}
              <a class="phoone-button phoone-button--medium text-size-2" href="{{ isset.btn_link }}">{{ isset.btn_text }}</a>
              {%- endif -%}
            </div>
            
            <style>
              .ct_menu_sl #block-{{ block.id }} .slider__content h5 {
                color: {{ isset.title1_color }};
              }
              .ct_menu_sl #block-{{ block.id }} .slider__content h1 {
                color: {{ isset.title2_color }};
              }
              .ct_menu_sl #block-{{ block.id }} .slider__content a.phoone-button {
                background: {{ isset.slide_caption_btn_bg_color }};
                 border-color: {{ isset.slide_caption_btn_bg_color }};
                 color: {{ isset.slide_caption_btn_color }} !important;
              }
              .ct_menu_sl #block-{{ block.id }} .slider__content a.phoone-button:hover {
				 background: {{ isset.slide_caption_btn_border_color }};
                 border-color: {{ isset.slide_caption_btn_border_color }};
                 color: {{ isset.slide_caption_btn_hover_color }} !important;
              }
            </style>
          </div>
          {%- endfor -%}
        </div>
      </div>
      
      {%- if section.settings.banner_block_enable -%}
      <div class="col-lg-3">
        <div class="slider_banner">
          {%- if section.settings.banner1_enable -%}
          <div class="slider_banner_img mb-30">
            <a href="{{ section.settings.banner1_link }}">
              {%- if section.settings.banner1_img != blank -%}
              {%- render 'lazyload_image_src',
                	  image: section.settings.banner1_img,
              		  size: '300x255' -%}
              {%- else -%}
              {%- render 'svg_placholder', param: 'image', size: '423x333' -%}
              {%- endif -%}

              <div class="bnr_cntnt">
                <h2> {{ section.settings.b1_text1 }} </h2>
                <h6>{{ section.settings.b1_text2 }} </h6>
              </div>
			</a>
          </div>
          {%- endif -%}
          
          {%- if section.settings.banner2_enable -%}
          <div class="slider_banner_img">
            <a href="{{ section.settings.banner2_link }}">
               {%- if section.settings.banner2_img != blank -%}
              {%- render 'lazyload_image_src',
                	  image: section.settings.banner2_img,
              		  size: '300x255' -%}
              {%- else -%}
              {%- render 'svg_placholder', param: 'image', size: '423x333' -%}
              {%- endif -%}
            
              <div class="bnr_cntnt">
                <h6>{{ section.settings.b2_text2 }} </h6>
                <h2> {{ section.settings.b2_text1 }} </h2>
              </div>
              
            </a>
          </div>
          {%- endif -%}
          
        </div>
      </div>
      {%- endif -%}
      
      
    </div>
  </div>
</section>
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}

{%- capture css -%}
<style>
  #section-{{ section.id }} .slide-overlay::before {
    background: {{ section.settings.slider_overlay_color }};
    opacity: {{ section.settings.slider_overlay_opacity }};
  }
    #section-{{ section.id }} .slider_wrapper.ct_menu_sl .owl-nav > div {
      color: {{ section.settings.navTetx_color }};
  }
    
  #section-{{ section.id }} .slider_wrapper.ct_menu_sl .owl-dots .owl-dot {
    background: {{ section.settings.slider_paginate_color }};
  }
  #section-{{ section.id }} .slider_wrapper.ct_menu_sl.owl-carousel .owl-dots .owl-dot.active {
    border-color:  {{ section.settings.slider_active_paginate_color }};
    background: transparent;
  }
</style>
{%- endcapture -%}

{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}

{% schema %}
  {
    "name": "Menu Slider With Banner",
    "settings": [
		{
          "type":  "radio",
          "id":    "container_width",
          "label": "Container Width",
          "options": [
            { "value": "container", "label": "Container" },
            { "value": "fluid", "label": "Full Width" }
          ],
          "default":   "container"
        },
		{
          "type": "checkbox",
          "id": "cat_menu_enable",
          "label": "Cat Menu Enable",
		  "default":  true
        },
		{
			"type": "header",
            "content": "Menu Settings",
			"info": "-----------------"
		},
		{
          "type": "link_list",
          "id": "cat_menu_handle",
          "label": "Select Menu"
        },
		{
          "type": "text",
          "id": "categories_title",
          "default": "Categories",
          "label": "Category Menu Title"
        },
		{
			"type": "header",
            "content": "Banner Settings",
			"info": "-----------------"
		},
		{
          "type": "checkbox",
          "id": "banner_block_enable",
          "label": "Banner Enable",
		  "default":  true
        },
		{
			"type": "header",
            "content": "Banner#1"
		},
		{
          "type": "checkbox",
          "id": "banner1_enable",
          "label": "Banner#1 Enable",
		  "default":  true
        },
		{
          "type": "image_picker",
          "id": "banner1_img",
          "label": "Banner#1 Image",
          "info": "Recommended Size: 300 x 260px"
        },
		{
          "type": "text",
          "id": "b1_text1",
          "default": "Title One",
          "label": "Title One"
        },
        {
          "type": "text",
          "id": "b1_text2",
          "default": "Title two",
          "label": "Title Two"
        },
        {
          "type": "url",
          "id": "banner1_link",
          "label": "Banenr#1 link"
        },
		{
			"type": "header",
            "content": "Banner#2"
		},
		{
          "type": "checkbox",
          "id": "banner2_enable",
          "label": "Banner#2 Enable",
		  "default":  true
        },
		{
          "type": "image_picker",
          "id": "banner2_img",
          "label": "Banner#2 Image",
          "info": "Recommended Size: 300 x 260px"
        },
		{
          "type": "text",
          "id": "b2_text1",
          "default": "Title One",
          "label": "Title One"
        },
        {
          "type": "text",
          "id": "b2_text2",
          "default": "Title two",
          "label": "Title Two"
        },
        {
          "type": "url",
          "id": "banner2_link",
          "label": "Banenr#2 link"
        },
		{
			"type": "header",
            "content": "Slide Settings",
			"info": "-----------------"
		},
		{
			"type": "header",
            "content": "Slider Autoplay"
		},
		{
          "type": "checkbox",
          "id": "slider_autoplay_enable",
          "label": "Slider Autoplay True/False",
		  "default":  false
        },
		{
			"type": "header",
            "content": "Slide Loop"
		},
		{
          "type": "checkbox",
          "id": "loop_true",
          "label": "Loop True/False",
		  "default":  true
        },
		{
			"type": "header",
            "content": "Pagination/Bullet"
		},
		{
          "type": "checkbox",
          "id": "pagination_true",
          "label": "Pagination True/False",
		  "default":  true
        },
		{
			"type": "header",
            "content": "Navigation"
		},
		{
          "type": "checkbox",
          "id": "navigation_true",
          "label": "Navigation True/False",
		  "default":  true
        },
		{
          "type": "color",
          "id": "slider_paginate_color",
          "default": "#999",
          "label": "Pagination Color"
        },
		{
          "type": "color",
          "id": "slider_active_paginate_color",
          "default": "#333",
          "label": "Acrtive Border Color"
        },
		{
			"type": "paragraph",
            "content": "Prev NavText"
		},
		{
          "type": "checkbox",
          "id": "prev_arrow",
          "label": "Prev Arrow Icon",
		  "default":  true
        },
		{
          "type": "text",
          "id": "prev_text",
          "default": "Prev",
          "label": "Previous Text"
        },
		{
			"type": "paragraph",
            "content": "Next NavText"
		},
		{
          "type": "checkbox",
          "id": "next_arrow",
          "label": "Next Arrow Icon",
		  "default":  true
        },
		{
          "type": "text",
          "id": "next_text",
          "default": "Next",
          "label": "Next Text"
        },
		{
          "type": "color",
          "id": "navTetx_color",
          "default": "#333",
          "label": "NavText Color"
        },
		{
			"type": "header",
            "content": "Slider Overlay"
		},
		{
          "type": "checkbox",
          "id": "slider_overlay",
          "label": "Slider Overlay Enable",
		  "default":  false
        },
        {
          "type": "color",
          "id": "slider_overlay_color",
          "label": "Overlay Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "slider_overlay_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Overlay Color Opacity",
          "default": 0.2
        }
	],
	"blocks":[
      {
          "type": "slide",
          "name": "Slide",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "slider_img",
                  "label": "Image",
                  "info": "Recommended Size: 600 x 525px"
              },
			  {
                "type": "text",
                "id": "slide_title1",
                "default": "Winter Collection",
                "label": "Slide Title 1"
              },
			  {
                "type": "text",
                "id": "slide_title2",
                "default": "New Arrivals",
                "label": "Slide Title 2"
              },
			  {
                "type": "text",
                "id": "btn_text",
                "default": "Shop Now",
                "label": "Slide Button Text"
              },
			  {
                "type": "url",
                "id": "btn_link",
                "label": "Slide Button link"
              },
			  {
                "type":      "header",
                "content":   "Slider Title#1" 
              },
			  {
                "type": "color",
                "id": "title1_color",
                "label": "Slider Caption Title#1",
                "default": "#333"	
              },
			  {
                "type":      "header",
                "content":   "Slider Title#2" 
              },
			  {
                "type": "color",
                "id": "title2_color",
                "label": "Slider Caption Title#2",
                "default": "#333333"	
              },
			  {
                "type":      "header",
                "content":   "Slider Button" 
              },
			  {
                "type": "color",
                "id": "slide_caption_btn_bg_color",
                "label": "Slider Button Bg",
                "default": "#333333"	
              },
			  {
                "type": "color",
                "id": "slide_caption_btn_color",
                "label": "Slider Button Text Color",
                "default": "#fff"	
              },
			  {
                "type":      "paragraph",
                "content":   "Slider Button Hover" 
              },
			  {
                "type": "color",
                "id": "slide_caption_btn_border_color",
                "label": "Slider Button Hover BG Color",
                "default": "#333333"	
              },
			  {
                "type": "color",
                "id": "slide_caption_btn_hover_color",
                "label": "Slider Button Hover Text Color",
                "default": "#333"	
              }
			  
          ]
        }
     ],
	"presets": [
        {
          "category": "2. SlideShow",
          "name": "Menu Slider With Banner",
		  "blocks":[
				{
					"type": "slide"
				},
				{
					"type": "slide"
				},
				{
					"type": "slide"
				}
			]
        }
      ]
  }
{% endschema %}
