{%- capture html -%}
{% assign isset = section.settings %}
<div class="custom-content" id="section-{{ section.id }}">
  {% if section.settings.section_title != '' %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title {% if section.settings.text_align == "left" %}text-left {% elsif section.settings.text_align == "right" %} text-right {% elsif section.settings.text_align == "center" %} text-center {% endif %}">
          <h2>{{ section.settings.section_title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% endif %}
  <div class="container">
    {%- capture verticalAlign -%}
    {% if isset.vertical_content == "start" %} align-items-start {% elsif isset.vertical_content == "center" %} align-items-center {% elsif isset.vertical_content == "end" %} align-items-end {% endif %}
    {%- endcapture -%}
    <div class="row {{ verticalAlign }}">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'html_content' %}
      <div class="col-lg-{{ block.settings.content_column }} col-md-{{ block.settings.content_column_md }} col-xs-12" {{ block.shopify_attributes }}>
        <div class="html-content {% if block.settings.text_align == "left" %}text-left {% elsif block.settings.text_align == "right" %} text-right {% elsif block.settings.text_align == "center" %} text-center {% endif %}">
          {{ block.settings.html_content }}
        </div>
      </div>
      {%- if block.settings.html_content_css != '' -%}
      <style>
        {{ block.settings.html_content_css }}
      </style>
      {%- endif -%}
      {% when 'image_content' %}
      <div class="col-lg-{{ block.settings.content_column }} col-md-{{ block.settings.content_column_md }} col-xs-12" {{ block.shopify_attributes }}>
        <div class="image-content {% if block.settings.text_align == "left" %}text-left {% elsif block.settings.text_align == "right" %} text-right {% elsif block.settings.text_align == "center" %} text-center {% endif %}">
          {%- if block.settings.image_content_image_url != blank -%}
          <a href="{{ block.settings.image_content_image_url }}">
            {%- if block.settings.image_content_image != blank -%}
            {%- render 'lazyload_image_src',
                	  image: block.settings.image_content_image,
            		  size: 'master' -%}
            {%- else -%}
            {%- render 'svg_placholder', param: 'image', size: '800x500' -%}
            {%- endif -%}
          </a>
          {%- else -%}
          {%- if block.settings.image_content_image != blank -%}
            {%- render 'lazyload_image_src',
                	  image: block.settings.image_content_image,
            		  size: 'master' -%}
            {%- else -%}
            {%- render 'svg_placholder', param: 'image', size: '800x500' -%}
            {%- endif -%}
          {% endif %}
        </div>
        {%- if block.settings.html_content_css != '' -%}
        <style>
          {{ block.settings.html_content_css }}
        </style>
        {%- endif -%}
      </div>
      {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>
{%- render 'section_typography' -%}
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}

{%- capture css -%}
<style>
  #section-{{ section.id }}.custom-content .section-title{
    margin-top: {{ section.settings.section_margin_top }}px !important;
    margin-bottom: {{ section.settings.section_margin_bottom }}px !important;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}.custom-content .section-title{
      margin-top: {{ section.settings.section_margin_top_md }}px !important;
      margin-bottom: {{ section.settings.section_margin_bottom_md }}px !important;
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}.custom-content .section-title{
      margin-top: {{ section.settings.section_margin_top_xs }}px !important;
      margin-bottom: {{ section.settings.section_margin_bottom_xs }}px !important;
    }
  }
</style> 
{%- endcapture -%}

{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}

{% schema %}
  {
    "name": "Custom Content",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Section Title Here"
      	},
		{
          "type":  "radio",
          "id":    "text_align",
          "label": "Section Title Align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
			 { "value": "center", "label": "Center" }
          ],
          "default":   "center"
        },
		{
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 400,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 400,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 400,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 400,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 30
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 400,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 400,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 30
			},
			{
              "type": "header",
              "content": "Column Vertical Alignment"
            },
			{
              "type":  "radio",
              "id":    "vertical_content",
              "label": "Vertical Alignment",
              "options": [
                { "value": "start", "label": "Top" },
                { "value": "center", "label": "Center" },
                 { "value": "end", "label": "Bottom" }
              ],
              "default":   "start"
            }
	],
	"blocks":[
		{
          "type": "html_content",
          "name": "HTML Content",
          "settings": [
			{
			  "type": "range",
			  "id": "content_column",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Content Column",
			  "unit": "/12",
			  "default": 6
			},
			{
			  "type": "range",
			  "id": "content_column_md",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Tablet Content Column",
			  "unit": "/12",
			  "default": 6
			},
            {
			  "type": "html",
			  "id": "html_content",
			  "label": "HTML Content",
			  "default": "<div class='html-content-class'><h2>Custom Content Title</h2><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p></div>"
			},
			{
			  "type": "html",
			  "id": "html_content_css",
			  "label": "HTML Content CSS",
			  "default": ".html-content-class{margin-top: 100px;}.html-content-class h2{margin-bottom: 20px;}"
			},
			{
              "type":  "radio",
              "id":    "text_align",
              "label": "Section Title Align",
              "options": [
                { "value": "left", "label": "Left" },
                { "value": "right", "label": "Right" },
                 { "value": "center", "label": "Center" }
              ],
              "default":   "left"
            }
          ]
       },
	   {
          "type": "image_content",
          "name": "Image Content",
          "settings": [
			{
			  "type": "range",
			  "id": "content_column",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Content Column",
			  "unit": "/12",
			  "default": 6
			},
			{
			  "type": "range",
			  "id": "content_column_md",
			  "min": 1,
			  "max": 12,
			  "step": 1,
			  "label": "Tablet Content Column",
			  "unit": "/12",
			  "default": 6
			},
            {
			  "type": "image_picker",
			  "id": "image_content_image",
			  "label": "Image"
			},
            {
			  "type": "url",
			  "id": "image_content_image_url",
			  "label": "URL"
			},
			{
			  "type": "html",
			  "id": "html_content_css",
			  "label": "HTML Content CSS",
			  "default": ".image-content img{max-width: 100%;margin: auto;}"
			},
			{
              "type":  "radio",
              "id":    "text_align",
              "label": "Image Align",
              "options": [
                { "value": "left", "label": "Left" },
                { "value": "right", "label": "Right" },
                 { "value": "center", "label": "Center" }
              ],
              "default":   "center"
            }
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Custom Content",
		  "category": "others",
		  "blocks":[
				{
					"type": "html_content"
				},
				{
					"type": "image_content"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

