{%- capture html -%}
{% if section.settings.footer_section_enable == true %}
<div class="footer-container footer-two footer_3 nrb_ftr pt-100 pt-sm-85 pt-xs-85 {% if section.settings.footer_overlay %} footer_overlay {% endif %}" id="section-{{ section.id }}">
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">

      <!--=======  single widget  =======-->
      {% for block in section.blocks %} 
      {% case block.type %}	


      {% when 'shop_information' %}
      
      
      <div class="col footer-single-widget store_info_area">
        
        <div class="store-icons"> 
          <a href="{{ block.settings.app_link }}"> 
            <img src="{% if block.settings.apps_logo != blank %}{{ block.settings.apps_logo | img_url: '344x48' }} {% else %} https://via.placeholder.com/344x48 {% endif %}" class="img-fluid" alt="">
          </a>
        </div>
        
        <div class="store-contact_info"> 
          {% if block.settings.shop_about_text != blank %}
          <p> {{ block.settings.shop_about_text }} </p>
         {% endif %}

        
          <ul class="footer-social_area">
            {% if block.settings.social_icon_link_1 %}
            <li>
              <a href="{{ block.settings.social_icon_link_1 }}"><svg  width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M29.9707 8.82008C29.9004 7.22607 29.6426 6.1302 29.2734 5.18061C28.8924 4.17264 28.3064 3.27022 27.5386 2.52002C26.7884 1.75816 25.88 1.16615 24.8837 0.79117C23.9286 0.421912 22.8385 0.16414 21.2445 0.0938599C19.6385 0.0176273 19.1287 0 15.0557 0C10.9826 0 10.4728 0.0176273 8.87281 0.0879078C7.2788 0.158188 6.18293 0.416189 5.23357 0.785218C4.22538 1.16615 3.32295 1.7522 2.57276 2.52002C1.81089 3.27022 1.21911 4.1786 0.843904 5.17489C0.474646 6.1302 0.216875 7.22012 0.146594 8.81413C0.0703617 10.4201 0.0527344 10.9299 0.0527344 15.0029C0.0527344 19.076 0.0703617 19.5858 0.140642 21.1858C0.210923 22.7798 0.468923 23.8757 0.838181 24.8253C1.21911 25.8332 1.81089 26.7356 2.57276 27.4858C3.32295 28.2477 4.23133 28.8397 5.22762 29.2147C6.18293 29.584 7.27285 29.8417 8.86709 29.912C10.4668 29.9825 10.9769 29.9999 15.0499 29.9999C19.123 29.9999 19.6328 29.9825 21.2328 29.912C22.8268 29.8417 23.9227 29.584 24.872 29.2147C26.8882 28.4352 28.4822 26.8412 29.2617 24.8253C29.6307 23.8699 29.8887 22.7798 29.959 21.1858C30.0293 19.5858 30.0469 19.076 30.0469 15.0029C30.0469 10.9299 30.041 10.4201 29.9707 8.82008ZM27.2691 21.0686C27.2046 22.5337 26.9585 23.3249 26.7533 23.8523C26.2493 25.1593 25.212 26.1965 23.905 26.7006C23.3776 26.9057 22.5807 27.1518 21.1213 27.2162C19.539 27.2867 19.0644 27.3041 15.0616 27.3041C11.0588 27.3041 10.5783 27.2867 9.0017 27.2162C7.53657 27.1518 6.7454 26.9057 6.21795 26.7006C5.56757 26.4602 4.97557 26.0793 4.49505 25.5812C3.99691 25.0947 3.61598 24.5086 3.3756 23.8583C3.17048 23.3308 2.92439 22.5337 2.86006 21.0745C2.78955 19.4922 2.77215 19.0174 2.77215 15.0146C2.77215 11.0118 2.78955 10.5313 2.86006 8.95492C2.92439 7.48979 3.17048 6.69862 3.3756 6.17117C3.61598 5.52056 3.99691 4.92879 4.501 4.44804C4.98724 3.9499 5.5733 3.56897 6.22391 3.32882C6.75135 3.1237 7.54847 2.87761 9.00765 2.81305C10.59 2.74277 11.0648 2.72514 15.0673 2.72514C19.0761 2.72514 19.5506 2.74277 21.1272 2.81305C22.5924 2.87761 23.3835 3.1237 23.911 3.32882C24.5614 3.56897 25.1534 3.9499 25.6339 4.44804C26.132 4.93451 26.513 5.52056 26.7533 6.17117C26.9585 6.69862 27.2046 7.49551 27.2691 8.95492C27.3394 10.5373 27.357 11.0118 27.357 15.0146C27.357 19.0174 27.3394 19.4862 27.2691 21.0686Z" fill="white"></path>
              <path d="M15.0557 7.29639C10.8011 7.29639 7.34912 10.7481 7.34912 15.003C7.34912 19.2578 10.8011 22.7096 15.0557 22.7096C19.3105 22.7096 22.7623 19.2578 22.7623 15.003C22.7623 10.7481 19.3105 7.29639 15.0557 7.29639ZM15.0557 20.002C12.2955 20.002 10.0566 17.7634 10.0566 15.003C10.0566 12.2426 12.2955 10.0039 15.0557 10.0039C17.8161 10.0039 20.0548 12.2426 20.0548 15.003C20.0548 17.7634 17.8161 20.002 15.0557 20.002Z" fill="white"></path>
              <path d="M24.8663 6.99201C24.8663 7.98555 24.0607 8.79114 23.067 8.79114C22.0734 8.79114 21.2678 7.98555 21.2678 6.99201C21.2678 5.99824 22.0734 5.19287 23.067 5.19287C24.0607 5.19287 24.8663 5.99824 24.8663 6.99201Z" fill="white"></path>
              </svg></a>
            </li>
            {% endif %}
            {% if block.settings.social_icon_link_2  %}
            <li>
              <a href="{{ block.settings.social_icon_link_2 }}"><svg  width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M41.667 10.1261H48V0.427091C44.9337 0.1384 41.8528 -0.00413056 38.77 9.10854e-05C29.6073 9.10854e-05 23.3417 5.06308 23.3417 14.3351V22.3261H13V33.184H23.3417V61H35.7382V33.184H46.0462L47.5958 22.3261H35.7382V15.4026C35.7382 12.2001 36.6814 10.1261 41.667 10.1261Z" fill="black"></path>
              </svg></a>
            </li>
          {% endif %}
          {% if block.settings.social_icon_link_3  %}
            <li>
              <a href="{{ block.settings.social_icon_link_3 }}"><svg  width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.2305 6.58974C24.0816 6.58974 21.5197 4.02786 21.5197 0.878906C21.5197 0.393448 21.1263 0 20.6408 0H15.9336C15.4484 0 15.0547 0.393448 15.0547 0.878906V20.1778C15.0547 22.029 13.5484 23.535 11.6972 23.535C9.84604 23.535 8.34 22.029 8.34 20.1778C8.34 18.3263 9.84604 16.8203 11.6972 16.8203C12.1827 16.8203 12.5761 16.4268 12.5761 15.9414V11.2342C12.5761 10.749 12.1827 10.3553 11.6972 10.3553C6.2812 10.3553 1.875 14.7617 1.875 20.1778C1.875 25.5938 6.2812 30 11.6972 30C17.1133 30 21.5197 25.5938 21.5197 20.1778V11.6352C23.2688 12.5679 25.2155 13.0547 27.2305 13.0547C27.716 13.0547 28.1094 12.6613 28.1094 12.1758V7.46864C28.1094 6.98341 27.716 6.58974 27.2305 6.58974Z" fill="white"></path>
              </svg>
              </a>
            </li>
            {% endif %}
            {% if block.settings.social_icon_link_4  %}
            <li>
              <a href="{{ block.settings.social_icon_link_4 }}"><svg  width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.2439 0.25H20.5519L13.3249 8.51L21.8269 19.75H15.1699L9.95591 12.933L3.98991 19.75H0.679906L8.40991 10.915L0.253906 0.25H7.07991L11.7929 6.481L17.2439 0.25ZM16.0829 17.77H17.9159L6.08391 2.126H4.11691L16.0829 17.77Z" fill="black"></path>
              </svg></a>
            </li>
            {% endif %}
            {% if block.settings.social_icon_link_5  %}
            <li>
              <a href="{{ block.settings.social_icon_link_5 }}"><svg  width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M48.9975 44.6195H45.65L45.6656 42.6749C45.6676 42.258 45.8344 41.8588 46.1296 41.5645C46.4248 41.2701 46.8245 41.1045 47.2414 41.1038H47.4556C47.8732 41.1038 48.2738 41.269 48.5699 41.5634C48.866 41.8578 49.0337 42.2574 49.0362 42.6749L48.9975 44.6195ZM36.441 40.4525C35.5918 40.4525 34.8971 41.0239 34.8971 41.722V51.179C34.8971 51.8764 35.5918 52.4458 36.441 52.4458C37.2937 52.4458 37.9891 51.8764 37.9891 51.179V41.722C37.9891 41.0232 37.2937 40.4525 36.441 40.4525ZM56.8333 35.1624V53.1534C56.8333 57.4688 53.0913 61 48.517 61H14.317C9.74133 61 6 57.4688 6 53.1534V35.1624C6 30.847 9.74133 27.3151 14.317 27.3151H48.517C53.0913 27.3151 56.8333 30.847 56.8333 35.1624M16.5984 55.1067L16.5957 36.1554L20.8352 36.1567V33.3487L9.53393 33.3318V36.0923L13.0618 36.1025V55.1067H16.5984V55.1067ZM29.3067 38.9783H25.7721V49.0982C25.7721 50.5622 25.8609 51.2942 25.7667 51.5525C25.4793 52.3373 24.1875 53.171 23.6839 51.6372C23.5985 51.3688 23.6737 50.5595 23.6724 49.168L23.6581 38.9783H20.1432L20.154 49.0081C20.1567 50.5453 20.1195 51.6914 20.1662 52.2133C20.2523 53.133 20.2218 54.2053 21.0751 54.818C22.6652 55.9634 25.7132 54.6472 26.4757 53.0097L26.4689 55.0993L29.3074 55.1027L29.3067 38.9783V38.9783ZM40.6141 50.567L40.606 42.1442C40.6039 38.9343 38.2026 37.0121 34.9431 39.6093L34.9574 33.3473L31.4262 33.3528L31.4099 54.9671L34.3128 54.9251L34.5771 53.579C38.2873 56.9821 40.6195 54.6499 40.6141 50.567M51.6754 49.4507L49.0253 49.4642C49.024 49.5693 49.0199 49.6906 49.0186 49.8228V51.3024C49.0186 52.094 48.3645 52.7379 47.5701 52.7379H47.051C46.2553 52.7379 45.6012 52.094 45.6012 51.3024V47.4126H51.67V45.1285C51.67 43.4591 51.6273 41.7904 51.4891 40.8361C51.0546 37.8173 46.8165 37.3381 44.6767 38.8834C43.9824 39.3738 43.4628 40.0732 43.1937 40.8795C42.8921 41.7477 42.743 42.9338 42.743 44.4405V49.4629C42.745 57.8117 52.886 56.6317 51.6754 49.4507M38.0813 22.185C38.2546 22.6177 38.5499 22.9906 38.9312 23.2586C39.3107 23.5257 39.796 23.6599 40.3776 23.6599C40.8873 23.6599 41.3387 23.5223 41.7318 23.2383C42.1235 22.9557 42.4536 22.5334 42.7234 21.9702L42.6563 23.3569H46.5962V6.60156H43.4947V19.642C43.4814 19.9757 43.3396 20.2913 43.0988 20.5226C42.8581 20.754 42.5371 20.8833 42.2032 20.8833C41.8692 20.8833 41.5483 20.754 41.3075 20.5226C41.0668 20.2913 40.9249 19.9757 40.9117 19.642V6.60156H37.6746V17.9028C37.6746 19.3424 37.701 20.3022 37.7437 20.7888C37.7878 21.2721 37.8989 21.7357 38.0813 22.185M26.1415 12.7219C26.1415 11.1135 26.2757 9.8576 26.5421 8.95209C26.8105 8.04997 27.2924 7.32474 27.9905 6.77778C28.6866 6.2281 29.5779 5.95292 30.6616 5.95292C31.5732 5.95292 32.354 6.13186 33.0061 6.48227C33.6615 6.83471 34.1664 7.29221 34.5175 7.8568C34.8609 8.39113 35.1078 8.98164 35.2468 9.6014C35.379 10.2053 35.444 11.1162 35.444 12.345V16.5825C35.444 18.1367 35.3817 19.2801 35.2603 20.006C35.1418 20.7302 34.8775 21.4228 34.4836 22.042C34.0905 22.6683 33.5828 23.1366 32.9674 23.4355C32.3452 23.7371 31.6336 23.8849 30.8297 23.8849C29.9317 23.8849 29.1753 23.7609 28.5517 23.5019C27.9261 23.2444 27.4429 22.856 27.0985 22.3402C26.7508 21.8238 26.5062 21.1948 26.3584 20.4614C26.21 19.7288 26.1395 18.6267 26.1395 17.1579L26.1415 12.7219V12.7219ZM29.2274 19.3777C29.2274 20.3266 29.9337 21.1013 30.7938 21.1013C31.6552 21.1013 32.3581 20.3266 32.3581 19.3777V10.4581C32.3581 9.51058 31.6552 8.73588 30.7938 8.73588C29.9337 8.73588 29.2274 9.51058 29.2274 10.4581V19.3777ZM18.3234 23.8815H22.0403L22.0444 11.0308L26.4364 0.0223667H22.371L20.0361 8.19908L17.6679 0H13.6447L18.3173 11.0369L18.3234 23.8815V23.8815Z" fill="black"></path>
              </svg></a>
            </li>
            {% endif %}
            
          </ul>
              
        </div>
      </div>

      <!--=======  End of single widget  =======-->

        
      {% when 'contact_widget' %}
      
      
      <div class="col footer-single-widget">
        {% if block.settings.footer_widget_title != blank %}
        <h5 class="widget-title">{{ block.settings.footer_widget_title }}</h5>
        {% endif %}
        {% if block.settings.apps_logo %}
        <div class="store-icons"> 
          <a href="{{ block.settings.app_link }}"> 
            <img src="{% if block.settings.apps_logo != blank %}{{ block.settings.apps_logo | img_url: '344x48' }} {% else %} https://via.placeholder.com/344x48 {% endif %}" class="img-fluid" alt="">
          </a>
        </div>
         {% endif %}
        <div class="store-contact_info"> 
          {% if block.settings.shop_about_text != blank %}
          <p> {{ block.settings.shop_about_text }} </p>
         {% endif %}
          
          {% if block.settings.shop_address_text != blank %}
          <p>  {{ block.settings.shop_address_text }}  </p>
          {% endif %}
          
          {% if block.settings.phone_number != blank %}
          <p> {{ block.settings.phone_number }}  </p>
          {% endif %}
          
          {% if block.settings.email_id != blank %}
          <p>  {{ block.settings.email_id }}   </p>
          {% endif %}
        </div>
            {%- comment -%} ------- country and currancy start ---------- {%- endcomment -%}
          
            {%- liquid
              assign enable_country = block.settings.enable_country_selector
              assign language_enable = block.settings.enable_language_selector
            -%}
            {%- if enable_country == true or language_enable == true  -%}
            <div class="footer-single-widget-curncy">
              <div class="footer__column footer__localization">
              {%- if block.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                <noscript>
                  {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select">
                      <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                        {%- for country in localization.available_countries -%}
                          <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                            {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                    <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                  {%- endform -%}
                </noscript>
                <localization-form>
                  {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                      <div class="disclosure">
                        <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                           {{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }}
                          {% render 'icon-caret' %}
                        </button>
                        <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                          {%- for country in localization.available_countries -%}
                            <li class="disclosure__item" tabindex="-1">
                              <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                               <span class="localization-form__currency">{{ country.currency.iso_code }} {{ country.currency.symbol }}</span>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                    </div>
                  {%- endform -%}
                </localization-form>
              {%- endif -%}
              {%- if block.settings.enable_language_selector and  localization.available_languages.size > 1 -%}
                <noscript>
                  {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select">
                       <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                        {%- for language in localization.available_languages -%}
                          <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                            {{ language.endonym_name | capitalize }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                    <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                  {%- endform -%}
                </noscript>
                <localization-form>
                  {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                      <div class="disclosure">
                        <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                          {{ localization.language.endonym_name | capitalize }}
                          {% render 'icon-caret' %}
                        </button>
                        <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                          {%- for language in localization.available_languages -%}
                            <li class="disclosure__item" tabindex="-1">
                              <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                {{ language.endonym_name | capitalize }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                      <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                    </div>
                  {%- endform -%}
                </localization-form>
              {%- endif -%}
            </div>
          </div>
          {% endif %}
          {%- comment -%} country and currancy end {%- endcomment -%}
      </div>

      <!--=======  End of single widget  =======-->


      {% when 'widget_menu' %}
      <div class="col footer-single-widget">
        {% if block.settings.footer_widget_title != blank %}
        <h5 class="widget-title">{{ block.settings.footer_widget_title }}</h5>
        {% endif %}

        <div class="footer-nav-container">
          <nav>
            <ul>
              {% assign footer_menu = block.settings.footer_menu_handle %}
              {% for link in linklists[footer_menu].links %}
              <li><a href="{{ link.url }}"> {{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>

        <!--=======  End of footer navigation container  =======-->
      </div>

      <!--=======  End of single widget  =======-->


      {% when 'social_icon' %}
      <!--=======  single widget  =======-->
      <div class="col footer-single-widget">

        {% if block.settings.footer_widget_title != blank %}
        <h5 class="widget-title">{{ block.settings.footer_widget_title }}</h5>
        {% endif %}

        <div class="footer-nav-container footer-social-links footer-social-links--change-color">
          <nav>
            <ul>
              {% if block.settings.social_icon_1_name != blank %}
              <li><a href="{{ block.settings.social_icon_1_link }}"><i class="fa fa-{{ block.settings.social_icon_1_name }}"></i> {{ block.settings.social_icon_1_name }}</a></li>        
              {% endif %}
              {% if block.settings.social_icon_2_name != blank %}
              <li><a  href="{{ block.settings.social_icon_2_link }}"><i class="fa fa-{{ block.settings.social_icon_2_name }}"></i> {{ block.settings.social_icon_2_name }} </a></li>        
              {% endif %}   
              {% if block.settings.social_icon_3_name != blank %}
              <li><a  href="{{ block.settings.social_icon_3_link }}"><i class="fa fa-{{ block.settings.social_icon_3_name }}"></i> {{ block.settings.social_icon_3_name }} </a></li>        
              {% endif %}
              {% if block.settings.social_icon_4_name != blank %}
              <li><a href="{{ block.settings.social_icon_4_link }}"><i class="fa fa-{{ block.settings.social_icon_4_name }}"></i> {{ block.settings.social_icon_4_name }} </a></li>        
              {% endif %}
              
              {% if block.settings.social_icon_5_name != blank %}
              <li><a href="{{ block.settings.social_icon_5_link }}"><i class="fa fa-{{ block.settings.social_icon_5_name }}"></i> {{ block.settings.social_icon_5_name }} </a></li>        
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

      {% when 'newsletter' %}
      <div class="col footer-single-widget">

        <div class="footer-subscription-widget footer-subscription-widget--change-subscription-style">
          {% if block.settings.newsletter_title != blank %}
          <h2 class="footer-subscription-title">{{ block.settings.newsletter_title }}</h2>
		 {% endif %}
          <!--=======  subscription form  =======-->

          
          
          {%- if block.settings.newsletter_system == 'by_shopify_form' -%}
          {%- assign formId = 'Contact_' | append: section.id -%}
          {%- form 'customer', id: formId, class: "shopify_newsletter__form" -%}
          {%- if form.posted_successfully? -%}
          <p class="form-message form-success">{{ 'general.newsletter_form.confirmation'| t }} </p>
          {%- else -%}
          <div class="subscription-form">
            {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
            {%- endif -%}
            <div class="form__inner">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
                     placeholder="{{ block.settings.newsletter_input_placeholder }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
              <button type="submit"  name="commit" id="Subscribe"><i class="ion-ios-arrow-thin-right"></i></button>
            </div>
          </div>
          {%- endif -%}
          {%- endform -%}

          {%- elsif block.settings.newsletter_system == 'by_mailchimp' -%}
          <div class="subscription-form">
            <form id="mc-form" class="mc-form">
              <input type="email" placeholder="{{ block.settings.newsletter_input_placeholder }}" required>
              <button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
            </form>
          </div>
          <div class="mailchimp-alerts">
            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
          </div><!-- mailchimp-alerts end -->
          {%- endif -%}

        </div>

      </div>
      
      {% endcase %}
      {% endfor %}

    </div>

    

    {% if section.settings.footer_bottom_enable == true %}
    <div class="row nrb_ftrb_c align-items-center mt-50 mt-sm-0 mt-xs-0 pb-15">
      
      {% assign copyright_text = section.settings.copyright_text_enable %}
      {% assign copyright_logo = section.settings.copyright_logo_enable %}
      {% assign payment_icon = section.settings.payment_icon_enable %}
      
      
      {% if copyright_text == true %}
      <div class="{% if copyright_logo == true and payment_icon == true %} col-lg-4 col-md-4 text-left {% elsif copyright_logo == true or payment_icon == true %}  col-lg-6 col-md-6 text-left {% else %}col-12 text-center {% endif %} col-sm-12 footer-single-widget mb-0 mb-sm-30">
        <div class="copyright-text">
          {{ section.settings.copy_right_text }}
        </div>

      </div>
      {% endif %}
      

      {% if copyright_logo == true %}
      <div class="{% if copyright_text == true and payment_icon == true %} col-lg-4 col-md-4 text-left text-md-center {% elsif copyright_text == true or payment_icon == true %}  col-lg-6 col-md-6 text-left {% else %}col-12 text-center {% endif %} col-sm-12 footer-single-widget  mb-0 mb-sm-30">
        <!--=======  logo  =======-->

        <div class="logo mb-0">
          {%- if section.settings.logo -%}
          <a href="{{ routes.root_url }}">
            <img src="{{ section.settings.logo | img_url: '300x300' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">

          </a>
          {%- else -%}
          <a href="{{ routes.root_url }}">
            {{ shop.name }}
          </a>
          {%- endif -%}
        </div>

        <!--=======  End of logo  =======-->
      </div>
      {% endif %}
      
      {% if payment_icon == true %}

      <div class="{% if copyright_text == true and copyright_logo == true %} col-lg-4 col-md-4 text-left text-md-right{% elsif copyright_text == true or copyright_logo == true %}  col-lg-6 col-md-6 text-right text-md-right {% else %}col-12 text-center {% endif %}  col-sm-12 footer-single-widget mb-0 mb-sm-20 ">
        <!--=======  payment icon  =======-->

         
          <div class="payment-icon">
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'amazon_payments' %}
  			{{ 'amazon_payments' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'american_express' %}
            {{ 'american_express' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'apple_pay' %}
            {{ 'apple_pay' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'bitcoin' %}
            {{ 'bitcoin' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'dankort' %}
            {{ 'dankort' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'diners_club' %}
            {{ 'diners_club' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'discover' %}
            {{ 'discover' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'dogecoin' %}
            {{ 'dogecoin' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'dwolla' %}
            {{ 'dwolla' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'forbrugsforeningen' %}
            {{ 'forbrugsforeningen' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'google_pay' %}
            {{ 'google_pay' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'jcb' %}
            {{ 'jcb' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'klarna' %}
            {{ 'klarna' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'litecoin' %}
            {{ 'litecoin' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'maestro' %}
            {{ 'maestro' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'master' %}
            {{ 'master' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'paypal' %}
            {{ 'paypal' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'shopify_pay' %}
            {{ 'shopify_pay' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'sofort' %}
            {{ 'sofort' | payment_type_svg_tag: 'payment-icon-name' }}
            {% when 'visa' %}
            {{ 'visa' | payment_type_svg_tag: 'payment-icon-name' }}
            {% endcase %}
            {% endfor %}
          </div>
          

        <!--=======  End of payment icon  =======-->
      </div>
      
      {% endif %}
      
    </div>
    {% endif %}
    
    
  </div>
</div>
{% endif %}
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}

{%- capture css -%}
<style>
 
  {% for block in section.blocks %} 
  
  	{% case block.type %}		
      {% when 'footer_typography' %}
        #section-{{ section.id }}.footer-container.footer-two{
           background: {{ block.settings.footer_bg_color }} {%- if block.settings.footer_bg_image -%}url("{{ block.settings.footer_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
  		}
          #section-{{ section.id }} .footer-single-widget h5.widget-title,#section-{{ section.id }} .footer-subscription-widget .footer-subscription-title{
            color: {{ block.settings.widget_title_color }};
          }
         .store-contact_info p,.localization-selector.link, .col.footer-single-widget.store_info_area p,#section-{{ section.id }} .footer-single-widget .copyright-text p,.footer-nav-container nav ul li a,.footer-subscription-widget .subscription-subtitle,.footer-single-widget p.footer-email,.footer-single-widget p.footer-phone {
            color: {{ block.settings.footer_body_color }};
          }
            ul.footer-social_area li a svg path {
              fill: {{ block.settings.footer_body_color }} !important;
          }
           #section-{{ section.id }} .footer-social-links ul li a i {
             color: {{ block.settings.social_icon_color }};
          }
          #section-{{ section.id }}  .mailchimp-success{
            color: {{ block.settings.mail_sucess_color }};
          }
  		   #section-{{ section.id }}  .footer-nav-container nav ul li a:hover,.footer-subscription-widget--change-subscription-style .subscription-form button:hover,.footer-single-widget p.footer-email a:hover{
              color: {{ block.settings.footer_body_hover_color }};
          }
		  .footer-subscription-widget .subscription-form input,.footer-subscription-widget .subscription-form input:focus {
            border-color: {{ block.settings.input_border_color }};
          }

       .footer-subscription-widget--change-subscription-style .subscription-form button {
            color: {{ block.settings.newsletter_submit_button_color }};
        }
          .footer-subscription-widget .subscription-form input {
            color: {{ block.settings.newsletter_placholder_color }}
          }
        .footer-subscription-widget .subscription-form input::-webkit-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input:-ms-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input::-ms-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input::placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input:-ms-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
        .footer-subscription-widget .subscription-form input::-ms-input-placeholder {
          color: {{ block.settings.newsletter_placholder_color }};
        }
  	   
  
  
  
     {% endcase %}
  {% endfor %}
  
  
  #section-{{ section.id }}.footer_overlay::before  {
    background: {{ section.settings.footer_overlay_color }};
    opacity: {{ section.settings.footer_overlay_opacity }};
  }

</style>
{%- endcapture -%}
{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}

{% schema %}
  {
  "name": "Footer",
    "settings": [
		{
             "type":  "radio",
             "id":    "container_width",
             "label": "Container Width",
             "options": [
               { "value": "container", "label": "Container" },
               { "value": "fluid", "label": "Full Width" }
             ],
             "default":   "fluid"
          },
		{
          "type": "header",
          "content": "Footer Enable"
        },
        {
          "type": "checkbox",
          "id": "footer_section_enable",
          "label": "Footer Section Enable",
          "default": true
        },
		{
          "type": "header",
          "content": "Footer Bottom"
        },
		{
          "type": "checkbox",
          "id": "footer_bottom_enable",
          "label": "Footer Bottom Enable",
          "default": true
        },
		{
          "type": "paragraph",
          "content": "Copyright"
        },
		{
          "type": "checkbox",
          "id": "copyright_text_enable",
          "label": "Copyright Enable",
          "default": true
      	},
        {
          "type": "richtext",
          "id": "copy_right_text",
          "label": "CopyRight Text",
          "default": "<p>Copyright © Phoone Shopify All Right Reserved.</p>"
        },
		{
          "type": "paragraph",
          "content": "Footer Bottom Logo"
        },
		{
          "type": "checkbox",
          "id": "copyright_logo_enable",
          "label": "Copyright Logo Enable",
          "default": true
      	},
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "paragraph",
          "content": "Payment Icon"
        },
		{
          "type": "checkbox",
          "id": "payment_icon_enable",
          "label": "Show Payment icon",
          "default": true
      	},
		{
                "type": "header",
                "content": "Footer Overlay"
              },
              {
                "type": "checkbox",
                "id": "footer_overlay",
                "label": "Footer Overlay Enable",
                "default": false
              },
              {
                "type": "color",
                "id": "footer_overlay_color",
                "label": "Overlay Color",
                "default": "#000"
              },
              {
                "type": "range",
                "id": "footer_overlay_opacity",
                "min": 0,
                "max": 1,
                "step": 0.1,
                "label": "Overlay Color Opacity",
                "default": 0.5
              }
		

    ],
	"blocks":[
		{
          "type": "footer_typography",
          "name": "Footer Color Options",
		  "limit": 1,
          "settings": [
              {
                "type": "color",
                "id": "footer_bg_color",
                "label": "Footer  Bg color",
                "default": "#f8f8f8"
              },
		      {
                "type": "image_picker",
                "id": "footer_bg_image",
                "label": "BG Image"
              },
			  {
                "type": "color",
                "id": "widget_title_color",
                "label": "Widget Title Color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "footer_body_color",
                "label": "Footer Body color",
                "default": "#999999"
              },
			  {
                "type": "color",
                "id": "footer_body_hover_color",
                "label": "Footer Body Hover color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "social_icon_color",
                "label": "Social Icon color",
                "default": "#333"
              },
			  {
                "type": "color",
                "id": "input_border_color",
                "label": "Newsletter Input Boder Color",
                "default": "#ccc"
              },
			  {
                "type": "color",
                "id": "newsletter_placholder_color",
                "label": "Newsletter Placeholder Color",
                "default": "#777"
              },
			  {
                "type": "color",
                "id": "newsletter_submit_button_color",
                "label": "Newsletter Submit Button Color",
                "default": "#ccc"
              }
          ]
		},
		{
          "type": "newsletter",
          "name": "Newsletter",
          "settings": [
			  {
                "type": "text",
                "id": "newsletter_title",
                "label": "Newsletter Widget Title",
                "default": "Subscribe."
              },
			   {
                "type": "header",
                "content": "Newsletter Type"
              },
              {
                "type": "radio",
                "id": "newsletter_system",
                "label": "Newsletter Accept",
                "options": [
                  {
                    "label": "Shopify Form",
                    "value": "by_shopify_form"
                  },
                  {
                    "label": "MailChimp",
                    "value": "by_mailchimp"
                  }
                ],
                "default": "by_shopify_form"
              },
		 	  {
                "type": "textarea",
                "id": "newsletter_description",
                "label": "Newsletter Widget Desc",
                "default": "Subscribe to our newsletter to receive news on update."
              },
			  {
                "type": "text",
                "id": "newsletter_input_placeholder",
                "label": "Placeholder Title",
                "default": "Your email address."
              },
			  {
                "type": "text",
                "id": "subscrib_submit_button",
                "label": "Submit Button Text",
                "default": "Subscribe"
              }
          ]
       },
		{
          "type": "social_icon",
          "name": "Social Media",
          "settings": [
			  {
                "type": "text",
                "id": "footer_widget_title",
                "label": "Footer Widget Title"
               },
			  {
                "type": "header",
                "content": "Icon With Link"
              },
			  {
                "type": "text",
                "id": "social_icon_1_name",
                "label": "Social Icon Name",
                "default": "twitter",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_1_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_2_name",
                "label": "Social Icon Name",
                "default": "instagram",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_2_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_3_name",
                "label": "Social Icon Name",
                "default": "google-plus",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_3_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_4_name",
                "label": "Social Icon Name",
                "default": "linkedin",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_4_link",
                "label": "Link"
              },
              {
                "type": "header",
                "content": "Icon With Link"
              },
              {
                "type": "text",
                "id": "social_icon_5_name",
                "label": "Social Icon Name",
                "default": "pinterest",
                "info": "Fontawesome Icon [See Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
              },
              {
                "type": "url",
                "id": "social_icon_5_link",
                "label": "Link"
              }
          ]
       },
		{
          "type": "shop_information",
          "name": "Shop Informations",
          "settings": [
			  {
                "type": "image_picker",
                "id": "apps_logo",
                "label": "Logo"
              },
			  {
                  "type": "url",
                  "id": "app_link",
                  "label": "App Url"
             },
		     {
                "type": "textarea",
                "id": "shop_about_text",
                "label": "Shop About Text",
                "default": "Phoone incorporate in January 2012 from Kuala-Lumpur the capital city of Malaysia, Phoone started as a supplier for all kinds of apple product and accessories."
              },
              {
                "type": "header",
                "content": "Social Link"
              },
              {
                "type": "url",
                "id": "social_icon_link_1",
                "label": "Instagram Link"
              },
              {
                "type": "url",
                "id": "social_icon_link_2",
                "label": "Facebook Link"
              },
              {
                "type": "url",
                "id": "social_icon_link_3",
                "label": "TikTok Link"
              },
              {
                "type": "url",
                "id": "social_icon_link_4",
                "label": "Twitter Link"
              },
              {
                "type": "url",
                "id": "social_icon_link_5",
                "label": "YouTube Link"
              }
          ]
       },
		{
          "type": "contact_widget",
          "name": "Contact with Image Button",
          "settings": [
			  {
                "type": "text",
                "id": "footer_widget_title",
                "label": "Footer Widget Title"
               },
			  {
                "type": "image_picker",
                "id": "apps_logo",
                "label": "Logo"
              },
			  {
                  "type": "url",
                  "id": "app_link",
                  "label": "App Url"
             },
		     {
                "type": "textarea",
                "id": "shop_about_text",
                "label": "Shop About Text",
                "default": "Phoone incorporate in January 2012 from Kuala-Lumpur the capital city of Malaysia, Phoone started as a supplier for all kinds of apple product and accessories."
              },
		     {
                "type": "textarea",
                "id": "shop_address_text",
                "label": "Shop Address",
                "default": "Shop 009A, Level 4, Block A; <br> Demo Park, Ottawa"
              },
		      {
                "type": "textarea",
                "id": "phone_number",
                "label": "Phone Number",
                "default": "(+88) 123 4566 6868"
              },
		     {
                "type": "textarea",
                "id": "email_id",
                "label": "Email Id",
                "default": "contact@phoone.com"
              },
        	  {
               "type": "header",
               "content": "Country\/region selector",
               "info": "To add a country\/region, go to your [payment settings.](\/admin\/settings\/payments)"
             },
             {
               "type": "checkbox",
               "id": "enable_country_selector",
               "default": true,
               "label": "Enable country\/region selector"
             },
             {
               "type": "header",
               "content": "Language selector",
               "info": "To add a language, go to your [language settings.](\/admin\/settings\/languages)"
             },
             {
               "type": "checkbox",
               "id": "enable_language_selector",
               "default": true,
               "label": "Enable language selector"
             }
          ]
       },
		{
          "type": "widget_menu",
          "name": "Footer Widget Menu",
          "settings": [
			  {
                "type": "text",
                "id": "footer_widget_title",
                "label": "Footer Widget Title"
              },
			  {
                  "type": "link_list",
                  "id": "footer_menu_handle",
                  "label": "Select Menu"
              }
          ]
       },
	   {
          "type": "amazon_payments",
          "name": "Amazon Payments",
		  "limit": 1
        },
	   {
          "type": "american_express",
          "name": "American Express",
		  "limit": 1
        },
		{
          "type": "apple_pay",
          "name": "Apple Pay",
		  "limit": 1
        },
		{
          "type": "bitcoin",
          "name": "Bitcoin",
		  "limit": 1
        },
		{
          "type": "dankort",
          "name": "Dankort",
		  "limit": 1
        },
		{
          "type": "diners_club",
          "name": "Diners Club",
		  "limit": 1
        },
		{
          "type": "discover",
          "name": "Discover",
		  "limit": 1
        },
		{
          "type": "dogecoin",
          "name": "Dogecoin",
		  "limit": 1
        },
		{
          "type": "dwolla",
          "name": "Dwolla",
		  "limit": 1
        },
		{
          "type": "forbrugsforeningen",
          "name": "Forbrugsforeningen",
		  "limit": 1
        },
		{
          "type": "google_pay",
          "name": "Google Pay",
		  "limit": 1
        },
		{
          "type": "jcb",
          "name": "Jcb",
		  "limit": 1
        },
		{
          "type": "klarna",
          "name": "Klarna",
		  "limit": 1
        },
		{
          "type": "litecoin",
          "name": "Litecoin",
		  "limit": 1
        },
		{
          "type": "maestro",
          "name": "Maestro",
		  "limit": 1
        },
		{
          "type": "master",
          "name": "Master",
		  "limit": 1
        },
		{
          "type": "paypal",
          "name": "Paypal",
		  "limit": 1
        },
		{
          "type": "shopify_pay",
          "name": "Shopify Pay",
		  "limit": 1
        },
		{
          "type": "sofort",
          "name": "Sofort",
		  "limit": 1
        },
		{
          "type": "visa",
          "name": "Visa",
		  "limit": 1
        }
	   
	]
  }
{% endschema %}
