{%- capture css -%}
<style type="text/css">
    ul, ol {
      margin-bottom: 13px;
      margin-left: 15px;
    }
    ol {
      margin-left: 25px;
    }
    #footer {
      margin-top: 15px;
      font-size: 13px;
      color: #ffffff;
      text-shadow: 0 1px rgba(255,255,255,0.4);
      text-align: center;
      position: relative;
      z-index: 99;
    }
    #powered {
      color: #ffffff;
      display: block;
      margin-top: 15px;
    }

    #powered a {
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
      padding-left: 21px;
      text-decoration: none;
    }
    #powered a:hover {
      text-decoration: underline;
    }
    .errors {
      padding: 8px 5px;
      font-size: 15px;
      color: #7e1412;
      display: block;
      margin-bottom: 15px;
    }
    .errors ul {
      margin-bottom: 0;
    }
    .center {
      text-align: center;
      display: block;
      font-size: 17px;
    }
  .overlay::before {
    background-color: {{ section.settings.password_overlay_color }};
    opacity: {{ section.settings.password_overlay_color_opacity }};
  }
  .gradient-bg {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, {{ section.settings.gradiant_bg_color_1 }} 0%, {{ section.settings.gradiant_bg_color_2 }} 100%) repeat scroll 0 0;
  }
</style>
{%- endcapture -%}

{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}

{%- capture html -%}
<div class="comming-soon-area-2 comming-soon-white height-100vh d-flex align-items-center bg-img overlay
     {% unless section.settings.full_page_bg_image %}gradient-bg{% endunless %}" 
     {% if section.settings.full_page_bg_image %}
     style="background-image: url({{ section.settings.full_page_bg_image | img_url: 'master' }});"
     {% endif %}>
  <div class="container">
    
    <div class="row">
      <div class="{% if section.settings.countdown_style_handle == 'countdown_style_2' %}col-xl-8{% endif %} col-lg-10 ml-auto mr-auto">
        <div class="comming-soon-wrap text-center">
          {%- if section.settings.heading_enable -%}
          <div class="comming-soon-top">
            {%- if section.settings.password_logo -%}
            <div class="logo">
              <a href="{{ routes.root_url }}">
                <img src="{{ section.settings.password_logo | img_url: 'medium' }}" alt="">
              </a>
            </div>
            {%- endif -%}
            {%- if section.settings.comming_soon_title != '' -%}
            <h3>{{ section.settings.comming_soon_title }}</h3>
            {%- endif -%}
            {% if section.settings.comming_soon_content != '' %}
            <p>{{ section.settings.comming_soon_content }}</p>
            {%- endif -%}
          </div>
          {%- endif -%}
          {%- if section.settings.countdown_enable -%}
          <div class="{% if section.settings.countdown_style_handle == 'countdown_style_2' %}DateCountdownTwo{% elsif section.settings.countdown_style_handle == 'countdown_style_1' %}DateCountdown{% endif %}" data-date="{{ section.settings.opening_date }} 00:00:00"></div>
          {%- endif -%}
        </div>	
      </div>
    </div>
    
    {%- if section.settings.subscribe_field_enable -%}
    <div class="row">
      <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="subscribe-area subscribe-style-2 mt-80 mt-xs-50 text-center">
          {%- if section.settings.subscribe_title != '' -%}
          <h4>{{ section.settings.subscribe_title }}</h4>
          {%- endif -%}


          {%- if section.settings.password_newsletter_system == 'by_shopify_form' -%} 

          {%- assign formId = 'Contact_' -%}
          <div class="subscribe-form">
            {%- form 'customer', id: formId, class: "shopify_newsletter__form" -%}
            {%- if form.posted_successfully? -%}
            <p class="form-message form-success">{{ 'general.newsletter_form.confirmation'| t }} </p>
            {%- else -%}

            {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
            {%- endif -%}
            <div class="subscribe-form-inner">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
                     placeholder="{{ section.settings.email_placeholder_title }}" aria-label="{{ 'general.newsletter_form.newsletter_email'| t }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
              <button class="clear" type="submit"  name="commit" >{{ section.settings.subscribe_button_title }}</button>
            </div>
            {%- endif -%}
            {%- endform -%}
          </div>
          {%- elsif section.settings.password_newsletter_system == 'by_mailchimp' -%}

          <div id="mc_embed_signup" class="subscribe-form">
            <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="mc-form">
                <input type="email" value="" name="EMAIL" class="email" placeholder="{{ section.settings.email_placeholder_title }}" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="{{ section.settings.subscribe_button_title }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}

    {%- if section.settings.store_password_enable -%}
    <div class="row">
      <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="subscribe-area subscribe-style-2 mt-80 mt-xs-50 text-center">
          {%- if shop.password_message and shop.password_message != '' -%}
          <h4>{{ shop.password_message }}</h4>
          {%- else -%}
          <h4>Visit your store</h4>
          {%- endif -%}
          <div id="mc_embed_signup" class="subscribe-form">
            {% form 'storefront_password' %}
            <input class="email" type='password' name='password' id='password' placeholder="{{ section.settings.password_placeholder_title }}" autofocus> 
            <div class="clear"><input class="button" name="commit" type="submit" value="Enter"></div>           
            {{ form.errors | default_errors }}
            {% endform %}
          </div>
        </div>
        {%- if section.settings.password_action_field_enable -%}
        <div id='footer'>
          <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
          <div id='powered'>
            This store is powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
    {%- endif -%}
  </div>
</div>
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}


{% schema %}
  {
    "name": "Password",
    "settings": [
		{
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "checkbox",
        "id": "heading_enable",
        "label": "Show Heading",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "password_logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "comming_soon_title",
        "label": "Comming Soon Title",
        "default": "We are coming verry soon..."
      },
      {
        "type": "textarea",
        "id": "comming_soon_content",
        "label": "Comming Soon content",
        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text"
      },
      {
        "type": "header",
        "content": "Countdown"
      },
      {
        "type": "checkbox",
        "id": "countdown_enable",
        "label": "Show Countdown",
        "default": true
      },
      {
        "type": "radio",
        "id": "countdown_style_handle",
        "label": "Select CountDown",
        "options": [
          {
            "label": "Style 1",
            "value": "countdown_style_1"
          },
          {
            "label": "style 2",
            "value": "countdown_style_2"
          }
        ],
        "default": "countdown_style_1"
      },
      {
        "type": "text",
        "id": "opening_date",
        "label": "Openign Date",
        "default": "2019-05-01",
        "placeholder": "2019-05-01",
        "info": "Example: YYYY-MM-DD"
      },
      {
        "type": "header",
        "content": "Subscribe"
      },
      {
        "type": "radio",
        "id": "password_newsletter_system",
        "label": "Newsletter Accept",
        "options": [
          {
            "label": "Shopify Form",
            "value": "by_shopify_form"
          },
          {
            "label": "MailChimp",
            "value": "by_mailchimp"
          }
        ],
        "default": "by_shopify_form"
      },
      {
        "type": "checkbox",
        "id": "subscribe_field_enable",
        "label": "Show Subscribe Field",
        "default": true
      },
      {
        "type": "text",
        "id": "subscribe_title",
        "label": "Subscribe Title",
        "default": "Subscribe for our next update"
      },
      {
        "type": "text",
        "id": "email_placeholder_title",
        "label": "Email Placeholder",
        "default": "Enter your e-mial"
      },
      {
        "type": "text",
        "id": "subscribe_button_title",
        "label": "Subscribe Button Title",
        "default": "Subscribe"
      },
      {
        "type": "header",
        "content": "Password"
      },
      {
        "type": "checkbox",
        "id": "store_password_enable",
        "label": "Show Password Field",
        "default": true
      },
      {
        "type": "text",
        "id": "password_placeholder_title",
        "label": "Password Placeholder Title",
        "default": "Enter store using password"
      },
      {
        "type": "checkbox",
        "id": "password_action_field_enable",
        "label": "Show Action Field",
        "default": true
      },
      {
        "type": "header",
        "content": "Options"
      },
      {
        "type": "image_picker",
        "id": "full_page_bg_image",
        "label": "BG Image",
        "info": "Recommended Size: 1920 x 1080px"
      },
      {
        "type": "paragraph",
        "content": "Gradient color will not work if you select BG images"
      },
      {
        "type": "color",
        "id": "gradiant_bg_color_1",
        "label": "Gradiant BG Color #1",
        "default": "#0072b0"
      },
      {
        "type": "color",
        "id": "gradiant_bg_color_2",
        "label": "Gradiant BG Color #1",
        "default": "#70b100"
      },
      {
        "type": "color",
        "id": "password_overlay_color",
        "label": "Overlay Color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "password_overlay_color_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Overlay Color Opacity",
        "default": 0.7
      }
	]
  }
{% endschema %}