{%- capture html -%}
<div class="slider-area revolution-js mb-100 mb-md-80 mb-sm-80" id="section-{{ section.id }}" data-section2="RevolutionSlider5">
  <div id="rev_slider_11_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="homepage-5" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
    <div id="rev_slider_11_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
      <ul>	<!-- SLIDE  -->
        	{% render 'rev_slider_widget_for_smart' %}
    
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
  </div><!-- END REVOLUTION SLIDER -->
</div>
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}


{%- capture css -%}
<style>

  #section-{{ section.id }} #rev_slider_11_1_wrapper .tp-bullets.phoone .tp-bullet {
    background-color:{{ section.settings.rev_arrow_bg_color}};
   }
  
  #section-{{ section.id }}{
    margin-top: {{ section.settings.section_margin_top }}px !important;
    margin-bottom: {{ section.settings.section_margin_bottom }}px !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      margin-top: {{ section.settings.section_margin_top_md }}px !important;
      margin-bottom: {{ section.settings.section_margin_bottom_md }}px !important;
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      margin-top: {{ section.settings.section_margin_top_xs }}px !important;
      margin-bottom: {{ section.settings.section_margin_bottom_xs }}px !important;
    }
  }
</style>
{%- endcapture -%}

{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}


{% schema %}
  {
    "name": "Revolution Smart",
    "settings": [
		{
          "type": "header",
          "content": "Slider Bullet Color"
        },
        {
          "type": "color",
          "id": "rev_arrow_bg_color",
          "label": "Arrow Bg Color",
          "default": "#333"	
        },
		{
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 65
			}
	],
	"blocks":[
      {
          "type": "slide1",
          "name": "Slideshow 1",
          "settings": [
			  {
                "type": "header",
                "content": "Layer Thumbnail"
              },
			  {
                "type": "checkbox",
                "id": "slider_thumbnail_enable",
                "label": "Slider Thumbnail Enable",
                "default": true
              },
              {
                  "type": "image_picker",
                  "id": "slider_thubnail",
                  "label": "Slide Thumbnail",
                  "info": "Recommended Size: 1453x727px"
              },
			  {
                  "type": "header",
                  "content": "Slide Layer Background Color"
              },
              {
                "type": "color",
                "id": "slide_Layer_bg_color",
                "label": "Single slide Layer Bg Color",
                "default": "#dbe7ff"	
              },
			  
			  {
                "type": "header",
                "content": "Slide Caption"
              },
			  {
                "type": "textarea",
                "id": "layer_caption_title1",
                "label": "Caption Title 1",
				"default": "New collection A-W ss17 "
			  },
			  {
                "type": "textarea",
                "id": "layer_caption_title2",
                "label": "Caption Title 2",
				"default": "Chair <br> collection "
			  },
			  {
                  "type": "text",
                  "id": "rev_slide1_btn",
                  "label": "Caption Button",
					"default": "SHOP NOW"
                },
                {
                  "type": "url",
                  "id": "rev_slide1_btn_link",
                  "label": "Caption Button Url"
                },
			   {
                  "type": "text",
                  "id": "store_badge_caption",
                  "label": "Store Badge Caption",
				  "default": "online store"
                },
			  {
                "type": "header",
                "content": "Slide Caption Badge"
              },
			  {
                "type": "textarea",
                "id": "caption_popular_badge",
                "label": "Popular Badge",
				"default": "Popular"
			  },
			  {
                  "type": "url",
                  "id": "caption_popular_badge_link",
                  "label": "Popular Badge Url"
                },
		      {
                "type": "textarea",
                "id": "caption_sale_badge",
                "label": "Sale Badge",
				"default": "Sale"
			  },
			  {
                  "type": "url",
                  "id": "caption_sale_badge_link",
                  "label": "Sale Badge Url"
                },
		      {
                "type": "textarea",
                "id": "caption_new_badge",
                "label": "New Badge",
				"default": "New"
			  },
			  {
                  "type": "url",
                  "id": "caption_new_badge_link",
                  "label": "New Badge Url"
                },
			  {
                "type": "header",
                "content": "Slider Caption Style"
              },
			  {
                "type": "color",
                "id": "slide_title1_color",
                "label": "Slide Title Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "slide_title2_color",
                "label": "Slide Title 2 Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "caption_store_online",
                "label": "Caption Store Online",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "slide_badge_color",
                "label": "Caption Badge Color",
                "default": "#9b9b9b"	
              },
			  {
                "type": "paragraph",
                "content": "Slider Caption Button"
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_bg_color",
                "label": "Button Bg Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_color",
                "label": "Caption Button text Color",
                "default": "#fff"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_bg_color",
                "label": "Button Hover Bg Color",
                "default": "#000"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_border_bg_color",
                "label": "Button Hover Border Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_color",
                "label": "Caption Button Hover text Color",
                "default": "#333"	
              },
			  {
                "type": "header",
                "content": "Slider Paginate"
              },
              {
                "type": "color",
                "id": "pgainate_active_color",
                "label": "Paginate Active Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "pgainate_prev_color",
                "label": "Paginate Color",
                "default": "#777"	
              },
			  {
                "type": "header",
                "content": "Divider Color Options"
              },
			  {
                "type": "color",
                "id": "divider_color",
                "label": "Divider Bg Color",
                "default": "#000000"
              },
              {
                "type": "range",
                "id": "divider_color_opacity",
                "min": 0,
                "max": 1,
                "step": 0.1,
                "label": "Divider Color Opacity",
                "default": 0.5
              }
			  
          ]
        },
		{
          "type": "slide2",
          "name": "Slideshow 2",
          "settings": [
			  {
                "type": "header",
                "content": "Caption Image"
              },
			  {
                "type": "checkbox",
                "id": "slider_caption_img",
                "label": "Slider Caption Image Enable",
                "default": true
              },
              {
                  "type": "image_picker",
                  "id": "slider_thubnail",
                  "label": "Slide Thumbnail",
                  "info": "Recommended Size: 341x651px"
              },
			  {
                  "type": "header",
                  "content": "Slide Layer Background Color"
              },
              {
                "type": "color",
                "id": "slide_Layer_bg_color",
                "label": "Single slide Layer Bg Color",
                "default": "#f5e8e5"	
              },
			  {
                "type": "header",
                "content": "Slide Caption"
              },
			  {
                "type": "textarea",
                "id": "layer_caption_title1",
                "label": "Caption Title 1",
				"default": "New collection A-W ss17 "
			  },
			  {
                "type": "textarea",
                "id": "layer_caption_title2",
                "label": "Caption Title 2",
				"default": "Innovative<br> design "
			  },
			  {
                  "type": "text",
                  "id": "rev_slide1_btn",
                  "label": "Caption Button",
					"default": "SHOP NOW"
                },
                {
                  "type": "url",
                  "id": "rev_slide1_btn_link",
                  "label": "Caption Button Url"
                },
			   {
                  "type": "text",
                  "id": "store_badge_caption",
                  "label": "Store Badge Caption",
				  "default": "online store"
                },
			  {
                "type": "header",
                "content": "Slide Caption Badge"
              },
			  {
                "type": "textarea",
                "id": "caption_popular_badge",
                "label": "Popular Badge",
				"default": "Popular"
			  },
			  {
                  "type": "url",
                  "id": "caption_popular_badge_link",
                  "label": "Popular Badge Url"
                },
		      {
                "type": "textarea",
                "id": "caption_sale_badge",
                "label": "Sale Badge",
				"default": "Sale"
			  },
			  {
                  "type": "url",
                  "id": "caption_sale_badge_link",
                  "label": "Sale Badge Url"
                },
		      {
                "type": "textarea",
                "id": "caption_new_badge",
                "label": "New Badge",
				"default": "New"
			  },
			  {
                  "type": "url",
                  "id": "caption_new_badge_link",
                  "label": "New Badge Url"
                },
			  {
                "type": "header",
                "content": "Slider Caption Style"
              },
			  {
                "type": "color",
                "id": "slide_title1_color",
                "label": "Slide Title Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "slide_title2_color",
                "label": "Slide Title 2 Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "caption_store_online",
                "label": "Caption Store Online",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "slide_badge_color",
                "label": "Caption Badge Color",
                "default": "#9b9b9b"	
              },
			  {
                "type": "paragraph",
                "content": "Slider Caption Button"
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_bg_color",
                "label": "Button Bg Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_color",
                "label": "Caption Button Text Color",
                "default": "#fff"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_bg_color",
                "label": "Button Hover Bg Color",
                "default": "#000"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_border_bg_color",
                "label": "Button Hover Border Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_color",
                "label": "Caption Button Hover Text Color",
                "default": "#333"	
              },
			  {
                "type": "header",
                "content": "Slider Paginate"
              },
              {
                "type": "color",
                "id": "pgainate_active_color",
                "label": "Paginate Active Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "pgainate_prev_color",
                "label": "Paginate Color",
                "default": "#777"	
              },
			  {
                "type": "header",
                "content": "Divider Color Options"
              },
			  {
                "type": "color",
                "id": "divider_color",
                "label": "Divider Bg Color",
                "default": "#000000"
              },
              {
                "type": "range",
                "id": "divider_color_opacity",
                "min": 0,
                "max": 1,
                "step": 0.1,
                "label": "Divider Color Opacity",
                "default": 0.5
              }
			  
			  
          ]
        },
		
		{
          "type": "slide3",
          "name": "Slideshow 3",
          "settings": [
			  {
                "type": "header",
                "content": "Layer Image"
              },
			  {
                "type": "checkbox",
                "id": "slider_caption_img",
                "label": "Slider Caption Image Enable",
                "default": true
              },
              {
                  "type": "image_picker",
                  "id": "slider_thubnail",
                  "label": "Slide Thumbnail",
                  "info": "Recommended Size: 469x708px"
              },
			  {
                  "type": "header",
                  "content": "Slide Layer Background Color"
              },
              {
                "type": "color",
                "id": "slide_Layer_bg_color",
                "label": "Single slide Layer Bg Color",
                "default": "#e1dcd5"	
              },
			  {
                "type": "header",
                "content": "Slide Caption"
              },
			  {
                "type": "textarea",
                "id": "layer_caption_title1",
                "label": "Caption Title 1",
				"default": "New collection A-W ss17 "
			  },
			  {
                "type": "textarea",
                "id": "layer_caption_title2",
                "label": "Caption Title 2",
				"default": "Chair <br> collection "
			  },
			  {
                  "type": "text",
                  "id": "rev_slide1_btn",
                  "label": "Caption Button",
					"default": "SHOP NOW"
                },
                {
                  "type": "url",
                  "id": "rev_slide1_btn_link",
                  "label": "Caption Button Url"
                },
			   {
                  "type": "text",
                  "id": "store_badge_caption",
                  "label": "Store Badge Caption",
				  "default": "online store"
                },
			  {
                "type": "header",
                "content": "Slide Caption Badge"
              },
			  {
                "type": "textarea",
                "id": "caption_popular_badge",
                "label": "Popular Badge",
				"default": "Popular"
			  },
			  {
                  "type": "url",
                  "id": "caption_popular_badge_link",
                  "label": "Popular Badge Url"
                },
		      {
                "type": "textarea",
                "id": "caption_sale_badge",
                "label": "Sale Badge",
				"default": "Sale"
			  },
			  {
                  "type": "url",
                  "id": "caption_sale_badge_link",
                  "label": "Sale Badge Url"
                },
		      {
                "type": "textarea",
                "id": "caption_new_badge",
                "label": "New Badge",
				"default": "New"
			  },
			  {
                  "type": "url",
                  "id": "caption_new_badge_link",
                  "label": "New Badge Url"
                },
			  {
                "type": "header",
                "content": "Slider Caption Style"
              },
			  {
                "type": "color",
                "id": "slide_title1_color",
                "label": "Slide Title Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "slide_title2_color",
                "label": "Slide Title 2 Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "caption_store_online",
                "label": "Caption Store Online",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "slide_badge_color",
                "label": "Caption Badge Color",
                "default": "#9b9b9b"	
              },
			  {
                "type": "paragraph",
                "content": "Slider Caption Button"
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_bg_color",
                "label": "Button Bg Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_color",
                "label": "Caption Button Text Color",
                "default": "#fff"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_bg_color",
                "label": "Button Hover Bg Color",
                "default": "#000"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_border_bg_color",
                "label": "Button Hover Border Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "rev_slide_caption_btn_hover_color",
                "label": "Caption Button Hover Text Color",
                "default": "#333"	
              },
			  {
                "type": "header",
                "content": "Slider Paginate"
              },
              {
                "type": "color",
                "id": "pgainate_active_color",
                "label": "Paginate Active Color",
                "default": "#333"	
              },
			  {
                "type": "color",
                "id": "pgainate_prev_color",
                "label": "Paginate Color",
                "default": "#777"	
              },
			  {
                "type": "header",
                "content": "Divider Color Options"
              },
			  {
                "type": "color",
                "id": "divider_color",
                "label": "Divider Bg Color",
                "default": "#000000"
              },
              {
                "type": "range",
                "id": "divider_color_opacity",
                "min": 0,
                "max": 1,
                "step": 0.1,
                "label": "Divider Color Opacity",
                "default": 0.5
              }
			  
			  
          ]
        },
		{
          "type": "video_slide",
          "name": "Video Slide",
          "settings": [
			  {
                "type": "header",
                "content": "Youtube Video Id"
              },
              {
                  "type": "text",
                  "id": "yotube_video_id",
                  "label": "Youtube Video Id",
				   "default": "BVMsRltq2yU",
                  "info": "Please Put Here Youtube Video Id"
              },
			  {
                "type": "header",
                "content": "Video Thumbnail"
              },
              {
                  "type": "image_picker",
                  "id": "video_thumbnail",
                  "label": "Video Thumbnail",
                  "info": "Recommended Size: 1920 x 790px"
              },
			  {
                  "type": "header",
                  "content": "Video Mute"
              },
			  {
                 "type":  "select",
                 "id":    "video_mute",
                 "label": "Video Sound Off/On",
                 "options": [
                   { "value": "on", "label": "Off" },
                   { "value": "off", "label": "On" }
                 ],
                 "default":   "off"
              },
			  {
                  "type": "header",
                  "content": "Video Volume"
              },
			  {
                "type": "range",
                "id": "video_volume",
                "min": 0,
                "max": 100,
                "step": 1,
                "label": "Video Sound Volume",
                "default": 50
              },
			  {
                  "type": "header",
                  "content": "Video Loop"
              },
			  {
                 "type":  "select",
                 "id":    "video_loop",
                 "label": "Video Loop Off/On",
                 "options": [
                   { "value": "on", "label": "Off" },
                   { "value": "off", "label": "On" }
                 ],
                 "default":   "off"
              }
			  
          ]
        }
     ],
	"presets": [
        {
          "category": "1. Revolution Slider",
          "name": "5. Slider - Smart",
           "blocks":[
				{
					"type": "slide1"
				},
				{
					"type": "slide2"
				},
				{
					"type": "slide3"
				}
			]
        }
     ]
  }
{% endschema %}
