{%- capture html -%}
<div class="tab-product-list-area mb-25 mb-md-5 mb-sm-5" id="section-{{ section.id }}" data-section="BannerSection">
  <div class="{% if section.settings.container_width == 'container' %} container {% elsif section.settings.container_width == 'fluid' %} container wide {% endif %}">
    <div class="row">
      <div class="col-lg-12">
        <!--=======  tab product navigation  =======-->

        <div class="tab-product-navigation mb-50">
          <div class="nav nav-tabs justify-content-center" id="nav-tab2" role="tablist">
            {%- assign i = 1 -%}
            {% for block in section.blocks %}
            {%- case block.type -%}
            {%- when 'tab_with_product' -%}
            {%- assign tab_product = collections[block.settings.tab_product_handle] -%}

            {%- if tab_product == empty -%}
            <a class="nav-item nav-link  {% if forloop.first == true %}active{% endif %}"  data-toggle="tab" href="#product-tab-{{ i }}" role="tab" aria-selected="{% if forloop.first == true %} true {% else %} false {% endif %}">Tab-{{ i }}</a>
            {%- assign i = i | plus: 1 -%}
            {%- else -%}
            <a class="nav-item nav-link  {% if forloop.first == true %}active{% endif %}"  data-toggle="tab" href="#product-tab-{{ block.id }}-{{ tab_product.title | handle }}" role="tab" role="tab" aria-selected="{% if forloop.first == true %} true {% else %} false {% endif %}" >{{ tab_product.title }}</a>
            {%- endif -%}
            {% endcase %}
            {% endfor %}

          </div>
        </div>

        <!--=======  tab product content  =======-->

        <div class="tab-content"  id="nav-tabContent2">
          {%- assign i = 1 -%}
          {% for block in section.blocks %}
          {%- case block.type -%}
          {%- when 'tab_with_product' -%}
          {%- assign tab_product = collections[block.settings.tab_product_handle] -%}
          {%- assign product_limit = section.settings.product_limit_handle -%}

          {%- if tab_product == empty -%}
          <div class="tab-pane fade {% if forloop.first == true %} show active{% endif %}" id="product-tab-{{ i }}">
            <div class="row">
              {% for i in (1..product_limit) %}
              {% capture a %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              <div class="col-{{ section.settings.small_mobile_col }} col-lg-{{ section.settings.product_column }} col-md-{{ section.settings.product_column_md }} col-sm-{{ section.settings.product_column_xs }} mb-45" >
                <div>
                  <div style="background: #f2f2f2;">
                    {% assign product_item = "product-" | append: a  %}
                    {{ product_item | placeholder_svg_tag: 'my-custom-class' }}
                  </div>
                  <br>
                  <h6>
                    Product Title
                  </h6>
                  <div class="">
                    <span>$99.99</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {%- assign i = i | plus: 1 -%}
          {%- else -%}
          <div class="tab-pane fade {% if forloop.first == true %}show active{% endif %}" id="product-tab-{{ block.id }}-{{ tab_product.title | handle }}">
            <div class="row">
              {% assign product_column = section.settings.product_column_handle %}

              {% for product in tab_product.products limit: product_limit %}
              <div class="col-{{ section.settings.small_mobile_col }} col-lg-{{ section.settings.product_column }} col-md-{{ section.settings.product_column_md }} col-sm-{{ section.settings.product_column_xs }} mb-45">
                {%- render 'product-grid-item' with product as product -%}
              </div>
              {% endfor %}
            </div>
          </div>
          {%- endif -%}
          {% endcase %}
          {% endfor %}

        </div>

        <!--=======  End of tab product content  =======-->
      </div>
    </div>
  </div>
</div>
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}

{%- capture css -%}

<style>
  {%- for block in section.blocks -%}
  {% case block.type %}
  {%- when 'tab_font_style' -%}
  #section-{{ section.id }} .tab-product-navigation .nav-tabs a {
    font-size: {{ block.settings.tab_title_font_size_lg }}px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }} .tab-product-navigation .nav-tabs a {
      font-size: {{ block.settings.tab_title_font_size_sm }}px;
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }} .tab-product-navigation .nav-tabs a {
      font-size: {{ block.settings.tab_title_font_size_xs }}px;
    }
  }
  {%- endcase -%}
  {%- endfor -%}

</style>
{%- endcapture -%}

{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}

{% render "section_typography" %}



{% schema %}
  {
    "name": "Tab With Product",
    "settings": [
		{
          "type":  "radio",
          "id":    "container_width",
          "label": "Container Width",
          "options": [
            { "value": "container", "label": "Container" },
            { "value": "fluid", "label": "Full Width" }
          ],
          "default":   "container"
        },
		{
			"type": "header",
            "content": "Product"
        },
		{
            "type": "range",
            "id": "product_limit_handle",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Limit",
            "default": 8
        },
		{
			"type": "header",
            "content": "Product Column"
        },
		{
          "type": "select",
          "id": "product_column",
          "label": "Desktop",
		  "options":[
				{
                    "label": "2 Column",
                    "value": "6"
                },
                {
                    "label": "3 Column",
                    "value": "4"
                },
                {
                    "label": "4 Column",
                    "value": "3"
                }
			],
			"default": "4"
      	},
		{
          "type": "select",
          "id": "product_column_md",
          "label": "Tablet",
		  "options":[
				{
                    "label": "2 Column",
                    "value": "6"
                },
                {
                    "label": "3 Column",
                    "value": "4"
                },
                {
                    "label": "4 Column",
                    "value": "3"
                }
			],
			"default": "6"
      	},
		{
          "type": "select",
          "id": "product_column_xs",
          "label": "Large Mobile",
		  "options":[
				{
                    "label": "1 Column",
                    "value": "12"
                },
                {
                    "label": "2 Column",
                    "value": "6"
                }
			],
			"default": "6"
      	},
		{
          "type": "select",
          "id": "small_mobile_col",
          "label": "Small Mobile",
		  "info": "Less Than 575px Screen Size",
		  "options":[
				{
                    "label": "1 Column",
                    "value": "12"
                },
                {
                    "label": "2 Column",
                    "value": "6"
                }
			],
			"default": "12"
      	}
    ],
	"blocks":[
	   {
          "type": "tab_with_product",
          "name": "Tab with product",
          "settings": [
			{
			  "type": "collection",
			  "id": "tab_product_handle",
			  "label": "Tab With Product"
			}
          ]
       },
	   {
          "type": "tab_font_style",
          "name": "Tab Font Style",
          "settings": [
			{
              "type": "header",
              "content": "Desktop Font Size"
           },
			{
			  "type": "range",
			  "id": "tab_title_font_size_lg",
			  "min": 10,
			  "max": 100,
			  "step": 1,
			  "label": "Desktop Font Size",
			  "unit": "px",
			  "default": 48
			},
			{
              "type": "header",
              "content": "Tablet Font Size"
            },
			{
			  "type": "range",
			  "id": "tab_title_font_size_sm",
			  "min": 10,
			  "max": 100,
			  "step": 1,
			  "label": "Tablet Font Size",
			  "unit": "px",
			  "default": 38
			},
			{
              "type": "header",
              "content": "Mobile Font Size"
            },
			{
			  "type": "range",
			  "id": "tab_title_font_size_xs",
			  "min": 10,
			  "max": 100,
			  "step": 1,
			  "label": "Mobile Font Size",
			  "unit": "px",
			  "default": 22
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Tab With Product",
		  "category": "3. collections",
		  "blocks":[
				{
					"type": "tab_with_product"
				},
				{
					"type": "tab_with_product"
				},
				{
					"type": "tab_with_product"
				}
			]
		}
	]
  }
{% endschema %}

