{%- capture html -%}
{% if section.settings.section_enable %}
<div id="section-{{ section.id }}" class="mt-100 mt-sm-80 mt-xs-80" data-section="BannerSection">

{% if section.settings.section_title_enable  %}
<div class="section-title-container mb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-title section-title--one text-center">
          {% if section.settings.section_subtitle != blank %}
          <p class="subtitle subtitle--deep">{{ section.settings.section_subtitle }}</p>
          {% endif %}
          {% if section.settings.section_title != blank %}
          <h1>{{ section.settings.section_title }}</h1>
          {% endif %}
          {% if section.settings.section_description  != blank %}
          <p class="subtitle">{{ section.settings.section_description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if section.settings.video_block_enable  %}
<div class="about-video-content mb-100 mb-sm-80 mb-xs-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="about-video-bg-area about-video-bg-2 pt-300 pb-300 pt-sm-200 pb-sm-200  pt-xs-150 pb-xs-150  mb-50 {% if section.settings.video_background_image != blank %} lazyload{% else %}lazyloaded{% endif %}" data-bgset="{% render 'responsive-bg-image', image: section.settings.video_background_image %}" style="background-image: url('{% if section.settings.video_background_image != blank %}{{ section.settings.video_background_image | img_url: 'master' }} {% else %}https://via.placeholder.com/970x500 {% endif %} ');">
          {% if section.settings.video_left_rotate_text != blank %}
          <p class="video-text video-text-left"><a href="{{ section.settings.video_left_rotate_text_link }}">{{ section.settings.video_left_rotate_text }}</a></p>
          {% endif %}

          <!--=======  End of floating-text left  =======-->
          <div class="play-icon text-center mb-40">
            <a href="{{ section.settings.banner_video_url }}" class="popup-video">
              {%- if section.settings.video_icon_img != blank  -%}            
              {%- render 'lazyload_image_src',
                	  image: section.settings.video_icon_img,
                      size: '100x100' -%}
            
            {%- else -%}
            <img data-src="https://cdn.shopify.com/s/files/1/0132/3116/1408/files/icon-play-100x100.png?3906524334719467033" class="lazyload img-fluid" alt="{{ shop.name }}">
            {%- endif -%}
            </a>
          </div>
          <h1>{{ section.settings.video_title }}</h1>

          <!--=======  floating-text right  =======-->

          {% if section.settings.video_right_rotate_text != blank %}
          <p class="video-text video-text-right"><a href="{{ section.settings.video_right_rotate_text_link }}">{{ section.settings.video_right_rotate_text }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>

    
    {% if section.settings.video_banner_bottom_content %}
    
    <div class="row">
      {% if section.settings.address_enable %}
      <div class="{% if section.settings.video_description_enable %} offset-lg-1 col-lg-4 col-md-6 mb-sm-50 {% else %} offset-lg-1 col-lg-11 col-md-12 offset-md-0 col-12 {% endif %}">
        
        {% if section.settings.address_title != blank or section.settings.address_content != blank %}
        <div class="phoone-widget phoone-widget--about mb-35">
          {% if section.settings.address_title != blank %}
          <h2 class="widget-title mb-25">{{ section.settings.address_title }}</h2>
          {% endif %}
          {% if section.settings.address_content != blank %}
          <p class="widget-content">{{ section.settings.address_content }}</p>
          {% endif %}
        </div>
        {% endif %}
        
        {% if section.settings.phone_title != blank or section.settings.phone_content != blank %}
        <div class="phoone-widget phoone-widget--about mb-35">
          {% if section.settings.phone_title != blank %}
          <h2 class="widget-title mb-25">{{ section.settings.phone_title }}</h2>
          {% endif %}
          {% if section.settings.phone_content != blank %}
          <p class="widget-content">{{ section.settings.phone_content }}</p>
          {% endif %}
        </div>
        {% endif %}
        
        {% if section.settings.email_title != blank or section.settings.email_content != blank %}
        <div class="phoone-widget phoone-widget--about">
          {% if section.settings.email_title != blank %}
          <h2 class="widget-title mb-25">{{ section.settings.email_title }}</h2>
          {% endif %}
          {% if section.settings.email_content != blank %}
          <p class="widget-content">{{ section.settings.email_content }}</p>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endif %}
      
      {% if section.settings.video_description_enable %}
      <div class="{% if section.settings.address_enable %} col-lg-5 offset-lg-1 col-md-6 {% else %}col-lg-7 offset-lg-1 col-md-12 offset-md-0 col-12 {% endif %}">
        <div class="about-page-text">
          {% if section.settings.video_banner_text != blank %}
          <p class=" mb-35">{{ section.settings.video_banner_text }}</p>
          {% endif %}
          {% if section.settings.video_description_btn != blank %}
          <a href="{{ section.settings.video_description_btn_link }}" class="phoone-button phoone-button--medium phoone-button--icon--left"> <i class="icon-left ion-plus"></i> {{ section.settings.video_description_btn }}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    
    
  </div>
</div>
{% endif %}
</div>
{% endif %}
{%- endcapture -%}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}

{%- capture css -%}
<style>
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'video_banner_padding' -%}
  #section-{{ section.id }} .about-video-bg-area{
    padding-top: {{ block.settings.video_padding_top }}px !important;
    padding-bottom: {{ block.settings.video_padding_bottom }}px !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }} .about-video-bg-area{
      padding-top: {{ block.settings.video_padding_top_md }}px !important;
      padding-bottom: {{ block.settings.video_padding_bottom_md }}px !important;
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }} .about-video-bg-area{
      padding-top: {{ block.settings.video_padding_top_xs }}px !important;
      padding-bottom: {{ block.settings.video_padding_bottom_xs }}px !important;
    }
  }
  {%- when 'video_content_color' -%}
  #section-{{ section.id }} .about-video-bg-area h1 {
    color: {{ block.settings.title_color }};

  }
  {%- endcase -%}
  {%- endfor -%}

</style>
{%- endcapture -%}

{{ css | strip_newlines
       | replace: '  ', '' 
       | replace: ': ', ':'
       | replace: ' {', '{'
}}


{%- render 'section_typography' -%}
  
{% schema %}
  {
    "name": "Video With Content",
    "settings": [
		{
		  "type": "header",
          "content": "Section Enable"
        },
		{
          "type": "checkbox",
          "id": "section_enable",
          "label": "Section Enable",  
          "default": true
      	},
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "checkbox",
          "id": "section_title_enable",
          "label": "Section Title Enable",  
          "default": true
      	},
		{
          "type": "text",
          "id": "section_subtitle",
          "label": "Section SubTitle",
          "default": "SIMPLY OR WHITE"
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Clever & unique ideas"
      	},
		{
          "type": "textarea",
          "id": "section_description",
          "label": "Section Description",
          "default": "Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met"
      	},
		{
		  "type": "header",
          "content": "Video Block"
        },
		{
          "type": "checkbox",
          "id": "video_block_enable",
          "label": "Video Block",  
          "default": true
      	},
        {
          "type": "image_picker",
          "id": "video_background_image",
          "label": "Image",
          "info": "Recommended Size: 970 x 500 px"
        },
		{
          "type": "image_picker",
          "id": "video_icon_img",
          "label": "Video Play Icon",
          "info": "Recommended Size: 150 x 150 px"
        },
		{
           "id": "banner_video_url",
           "type": "video_url",
           "label": "Video URL",
           "accept": ["youtube"],
           "default": "https://www.youtube.com/watch?v=8uFEVF6aTR4"
        },
		{
          "type": "text",
          "id": "video_title",
          "label": "Video Title",
          "default": "OUR STORY"
      	},
		{
		  "type": "paragraph",
          "content": "Video Left/Right Btn"
        },
		{
          "type": "text",
          "id": "video_left_rotate_text",
          "label": "Video Left Rotate Text",
          "default": "ASTOR STORE"
      	},
        {
          "type": "url",
          "id": "video_left_rotate_text_link",
          "label": "Left Rotate Btn Link"
        },
		{
          "type": "text",
          "id": "video_right_rotate_text",
          "label": "Video Right Rotate Text",
          "default": "ASTOR STORE"
      	},
		{
          "type": "url",
          "id": "video_right_rotate_text_link",
          "label": "Right Rotate Btn Link"
        },
		{
		  "type": "header",
          "content": "Video Bottom Content"
        },
		{
          "type": "checkbox",
          "id": "video_banner_bottom_content",
          "label": "Video Content",  
          "default": true
      	},
		{
		  "type": "header",
          "content": "Description"
        },
		{
          "type": "checkbox",
          "id": "video_description_enable",
          "label": "Video Description Enable",  
          "default": true
      	},
		{
          "type": "textarea",
          "id": "video_banner_text",
          "label": "Video Banner Content",
          "default": "Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit estibulum issim Lorem ipsum dolor sit amet"
      	},
		{
          "type": "text",
          "id": "video_description_btn",
          "label": "Video Description Btn",
          "default": "Online Store"
      	},
		{
          "type": "url",
          "id": "video_description_btn_link",
          "label": "Video Description Btn Link"
      	},
		{
		  "type": "header",
          "content": "Video Banner Contact Info"
        },
		{
          "type": "checkbox",
          "id": "address_enable",
          "label": "Video Adress Content Enable",  
          "default": true
      	},
		{
		  "type": "header",
          "content": "Address"
        },
		{
          "type": "text",
          "id": "address_title",
          "label": "Address title",
          "default": "OADDRESS"
      	},
		{
          "type": "textarea",
          "id": "address_content",
          "label": "Address Content",
          "default": "1800 Abbot Kinney Blvd. Unit D & E Venice"
      	},
		{
		  "type": "header",
          "content": "Phone"
        },
		{
          "type": "text",
          "id": "phone_title",
          "label": "Phone title",
          "default": "Phone"
      	},
		{
          "type": "textarea",
          "id": "phone_content",
          "label": "Phone Content",
          "default": "Mobile: (+88) – 1990"
      	},
		{
		  "type": "header",
          "content": "Email"
        },
		{
          "type": "text",
          "id": "email_title",
          "label": "Email title",
          "default": "EMAIL"
      	},
		{
          "type": "textarea",
          "id": "email_content",
          "label": "Email Content",
          "default": "contact@phoonestore.com"
      	}
		
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "video_banner_padding",
          "name": "Video Banner Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "video_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 300
			},
			{
			  "type": "range",
			  "id": "video_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 300
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "video_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 200
			},
			{
			  "type": "range",
			  "id": "video_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 200
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "video_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 150
			},
			{
			  "type": "range",
			  "id": "video_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 150
			}
          ]
       },
	    {
          "type": "video_content_color",
          "name": "Video Content Color",
		  "limit": 1,
          "settings": [
			{
			  "type": "color",
			  "id": "title_color",
			  "label": "Title Color",
			  "default": "#ffffff"
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
		
	],
	"presets": [
		{
		  "name": "Video With Content",
		  "category": "9.5 Video"
		}
	]
  }
{% endschema %}
